html {
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", "helvetica neue", helvetica, ubuntu, roboto, noto, arial, sans-serif;
  height: 100%;
}

body {
  height: 100%;
  background-image: url("../images/whistler.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 85%;
}

h1 {
  color: #4D4D4D;
}

#instructions {
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 500px;
  margin-left: -250px;
}

#button-instructions {
  position: absolute;
  top: 5px;
  right: 10px;
}

#guy-instructions {
  position: absolute;
  top: 58%;
  left: 25.5%;
}

.panel {
  background-color: #FFCB00;
  padding: 16px;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.5);
  color: #3A2E00;
  font-size: 13px;
  border-radius: 1px;
}

.panel-arrowUp {
  position: relative;
  top: -15px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #FFCB00;
}

.panel-arrowDown {
  position: relative;
  bottom: -33px;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #FFCB00;
}

.button-image {
  background-color: #E1E1E1;
  display: inline-block;
  padding: 2px 4px;
}
