html {
  background-color: #3a3b3e;
  font-family: sans-serif;
  text-align: center;
}

@keyframes pageshot-pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

#toolbar-buttons-arrow {
  position: absolute;
  top: 0px;
  right: 53px;
  text-align: right;
  font-size: 48px;
  color: rgb(255, 255, 0);
  font-weight: bold;
  animation-name: pageshot-pulse;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 10;
}

ol {
  text-align: left;
  list-style-type: none;
  padding-left: 0px;
}

li {
  padding: 7px;
  clear: left;
  vertical-align: middle;
}

li > img {
  float: left;
  vertical-align: middle;
}

button {
  width: 150px;
  height: 50px;
  background-color: #29a0ff;
}

#container {
  margin-top: 50px;
  background-color: #efefef;
  display: inline-block;
  width: 300px;
  border: 1px solid black;
  border-radius: 4px;
}
