body {
  margin: 0;
  background: #fcfcfc;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", "helvetica neue", helvetica, ubuntu, roboto, noto, arial, sans-serif;
}

.myshots-button {
  background: transparent;
  border-radius: 5px;
  border: 2px solid #858585;
  color: #858585;
  cursor: pointer;
  font-size: 16px;
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.graphic {
  background-image: url('/static/img/onboarding-1.png');
  background-size: 327px 255px;
  height: 255px;
  margin: 10% auto 10px;
  width: 327px;
}

h1,
p {
  text-align: center;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 10px;
}

sup {
  background: #00d1e6;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  margin-left: 5px;
  padding: 2px 4px;
  text-transform: uppercase;
}

p {
  color: #858585;
  font-size: 16px;
  line-height: 23px;
  margin: 0;
}
