body {
    font-family: sans-serif;
    background-color: #ddd;
    margin-bottom: 400px;
}

.item {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    box-shadow: 2px 2px 4px #999;
    /* This is so that this element can't be smaller than the floating screenshot: */
    overflow: auto;
}

a.embedded, a.embedded:visited {
    color: #000;
    text-decoration: none;
}

.screenshot-container {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

.screenshot-container img {
    max-width: 500px;
}

.item-shot {
    border-radius: 5px;
}

.excerpt {
    color: #333;
    margin-left: 30px;
}

.snippet {
    max-width: 500px;
}

.snippet:hover {
    max-width: none;
    max-height: none;
    overflow: inherit;
}

.closer {
    float: right;
    cursor: pointer;
}

.image-selector {
    opacity: 0.2;
    float: left;
    position: absolute;
    cursor: pointer;
}

.image-selector:hover {
    opacity: 0.5;
}

.image-up, .image-down {
    padding: 2px;
}

.image-up:hover, .image-down:hover {
    background-color: #ddd;
}

.title-replacement {
    font-weight: bold;
    font-size: 105%;
}

.comment-container {
    width: 200px;
    margin-left: -230px;
    background-color: #fff;
    box-shadow: 2px 2px 4px #999;
    border-radius: 2px;
    padding: 6px;
    position: absolute;
}

.comment-container.comment-collapsed {
    width: 35px;
}

.add-comment {
    font-size: 120%;
    cursor: pointer;
}

.comment-editor {
    width: 100%;
    height: 40px;
}

.comment {
    cursor: pointer;
}
