body {
    font-family: sans-serif;
    background-color: #404040;
    margin-bottom: 400px;
    color: white;
}

h1 {
  margin-top: 0px;
}

.item {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
    box-shadow: 2px 2px 4px #999;
}

.item:after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.has-updated-indicator, .has-not-updated-indicator {
    display: none;
    float: right;
    margin-right: 5px;
}

.item.has-updated .has-updated-indicator {
    display: inherit;
}

.item.has-not-updated .has-not-updated-indicator {
    display: inherit;
}

a.embedded, a.embedded:visited {
    color: #000;
    text-decoration: none;
}

.screenshot-container {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

.screenshot-container img {
    max-width: 500px;
}

.item-shot {
    border-radius: 5px;
}

.excerpt {
    color: #333;
    margin-left: 30px;
}

.snippet {
    max-width: 500px;
}

.snippet:hover {
    max-width: none;
    max-height: none;
    overflow: visible;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #999;
}

.closer {
    float: right;
    cursor: pointer;
}

.image-selector {
    opacity: 0.2;
    float: left;
    position: absolute;
    cursor: pointer;
}

.image-selector:hover {
    opacity: 0.5;
}

.image-up, .image-down {
    padding: 2px;
}

.image-up:hover, .image-down:hover {
    background-color: #ddd;
}

.title-replacement {
    font-weight: bold;
    font-size: 105%;
}

.right-container {
    width: 200px;
    margin-left: -230px;
    position: absolute;
}

.comment-container {
    background-color: #fff;
    box-shadow: 2px 2px 4px #999;
    border-radius: 2px;
    padding: 6px;
}

.comment-container.comment-collapsed {
    width: 35px;
}

.add-comment {
    font-size: 120%;
    cursor: pointer;
}

.comment-editor {
    width: 100%;
    height: 40px;
}

.comment {
    cursor: pointer;
}

.selections-container {
    margin-top: 10px;
    background-color: #fff;
    box-shadow: 2px 2px 4px #999;
    border-radius: 2px;
    padding: 6px;
}

.selection {
    border-bottom: 1px solid #aaa;
    margin-bottom: 5px;
    background-image: url(/static/noun23.png);
    background-position: top left;
    background-repeat: no-repeat;
    text-indent: 23px;
    max-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.selection:hover {
    max-height: none;
}

.selection:last-child {
    border-bottom: none;
}

.history-container {
    width: 270px;
    margin-left: 530px;
    background-color: #fff;
    box-shadow: 2px 2px 4px #999;
    border-radius: 2px;
    padding: 6px;
    position: absolute;
}

.history-container ul {
    list-style: none;
    padding: 0;
}

.history-container .link {
    display: block;
    text-decoration: none;
    padding: 4px 3px 4px 3px;
}

.history-container .link:hover {
    background-color: #eee;
    border-radius: 2px;
    text-decoration: underline;
}

.history-toggler {
    float: right;
}

.public, .private, .remove-history {
    cursor: pointer;
}

.public:hover, .private:hover, .remove-history:hover {
    background-color: #eee;
}

.badge {
    font-size: 65%;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 1px 3px 1px 3px;
    color: #888;
}

.history-container h3 {
    margin: 0;
    font-size: 100%;
}

.title-link {
    font-size: 70%;
    text-transform: uppercase;
    padding: 4px 0 4px 35px;
}

.title-link a:visited, .title-link a:link {
    color: #777;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#search-container {
    position: absolute;
    width: 120px;
    right: 10px;
    top: 10px;
    padding-right: 20px;
}

#search {
    border-radius: 10px;
    width: 100%;
    padding: 3px 5px 3px 5px;
}

#search-clear {
    z-index: 1;
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
    width: 1em;
    color: #666;
}

#search-summary {
    width: 230px;
    right: 145px;
    top: 6px;
    text-align: right;
    position: absolute;
    font-size: 85%;
    color: #666;
}

.item.enter-to-select {
    background-color: #ffb;
}

#info {
    position: absolute;
    top: 4px;
    left: 4px;
}

#clip {
    display: inline-block;
    cursor: pointer;
}

/* These are styles (and overrides) specific to the panelized view: */

#panel-overlay {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1000;
}

.panelized #search-container {
    display: none;
}

.panelized .screenshot-container img {
    max-width: 100px;
}

.panelized h1 {
    display: none;
}
