body {
    font-family: sans-serif;
    background-color: #ddd;
}

.item {
    background-color: #fff;
    border-radius: 6px;
    padding: 10px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}

a.embedded, a.embedded:visited {
    color: #000;
    text-decoration: none;
}

.screenshot-container {
    float: left;
    padding-right: 15px;
    padding-bottom: 15px;
}

.excerpt {
    color: #333;
    margin-left: 30px;
}

.snippet {
    max-width: 500px;
}

.snippet:hover {
    max-width: none;
    max-height: none;
    overflow: inherit;
}

.closer {
    float: right;
    cursor: pointer;
}

.image-selector {
    opacity: 0.2;
    float: left;
    position: absolute;
    cursor: pointer;
}

.image-selector:hover {
    opacity: 0.5;
}

.image-up, .image-down {
    padding: 2px;
}

.image-up:hover, .image-down:hover {
    background-color: #ddd;
}
