html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: sans-serif;
    background-color: #404040;
}

#container {
    height: 100%;
    width: 100%;
    position: absolute;
}

#frame-wrapper {
    position: absolute;
    top: 40px;
    left: 25px;
    right: 25px;
    bottom: 10px;
    border: 1px solid black;
    box-shadow: 3px 3px 6px #898989;
}

#frame {
  border: none;
  background-color: white;
}

#toolbar {
    height: 2.5em;
    width: 100%;
    overflow: truncate;
    color: white;
    /* Skipping borders for now
    border-bottom: 2px solid #E66000; */
}

.instructions {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

a, a:visited {
    text-decoration: none;
    color: #eef;
}

a:hover {
    text-decoration: underline;
}

#info {
    position: absolute;
    top: 0.5em;
    left: 100px;
    right: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#login-widget {
  position: relative;
  top: 0.5em;
  left: 0.5em;
}
a#collection-link {
    /* This specific element isn't clear as a link unless we underline */
    text-decoration: underline;
}

a.sitelink, a.sitelink:visited {
}

#readable-toggler {
  position: relative;
  top: -2px;
}

#readable-toggler span {
    padding: 1px 3px 1px 3px;
    font-size: 80%;
}

#readability-off {
    border-top: 1.5px solid #E66000;
    border-bottom: 1.5px solid #E66000;
    border-left: 1.5px solid #E66000;
    border-radius: 3px 0 0 3px;
}

#readability-on {
    border-top: 1.5px solid #E66000;
    border-bottom: 1.5px solid #E66000;
    border-right: 1.5px solid #E66000;
    border-radius: 0 3px 3px 0;
}

.active {
    color: #000;
    background-color: #fff;
    cursor: default;
}

.inactive {
    color: #999;
    background-color: #666;
    cursor: pointer;
}

.inactive:hover {
    color: #fff;
}

#comment-container {
    position: fixed;
    width: 500px;
    min-height: 12px;
    padding: 9px;
    top: 40px;
    right: 10px;
    /* Skipping borders for now
    border-bottom: 2px solid #E66000;
    border-right: 2px solid #E66000;
    border-left: 2px solid #E66000; */
    border-radius: 0 0 4px 4px;
    z-index: 100;
    background-color: #00539F;
    cursor: pointer;
}

#comment-editor {
    width: 100%;
    height: 35px;
}

#comment-instructions {
    cursor: pointer;
    font-size: xx-small;
}

#clip {
    cursor: pointer;
    position: relative;
    top: 2px;
}

.selection {
    border-top: 1px solid #999;
}

.goto-selection {
    cursor: pointer;
    float: right;
}
