html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: sans-serif;
}

#container {
    height: 100%;
    width: 100%;
    position: absolute;
}

table {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

table td {
    padding: 0;
    margin: 0;
    vertical-align: top;
}

#frame {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 0;
}

#toolbar {
    height: 30px;
    width: 100%;
    overflow: truncate;
    background-color: #00539F;
    color: #eef;
    padding: 4px;
    border-bottom: 2px solid #E66000;
}

.instructions {
    float: right;
}

a, a:visited {
    text-decoration: none;
    color: #eef;
}

a:hover {
    text-decoration: underline;
}

a.sitelink {
    display: block;
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a#collection-link {
    /* This specific element isn't clear as a link unless we underline */
    text-decoration: underline;
}

a.sitelink, a.sitelink:visited {
}

.active {
    color: #000;
    background-color: #fff;
    cursor: pointer;
}
.inactive {
    color: #999;
    background-color: #666;
    cursor: pointer;
}

#controls {
    float: right;
}

#comment-container {
    position: fixed;
    width: 500px;
    min-height: 12px;
    padding: 9px;
    top: 42px;
    right: 10px;
    border-bottom: 2px solid #E66000;
    border-right: 2px solid #E66000;
    border-left: 2px solid #E66000;
    border-radius: 0 0 4px 4px;
    z-index: 100;
    background-color: #00539F;
    cursor: pointer;
}

#comment-editor {
    width: 100%;
    height: 35px;
}

#comment-instructions {
    cursor: pointer;
}
