.pageshot-highlight {
    background-color: rgba(0, 0, 100, 0.1);
    border: 2px solid rgb(0, 0, 100);
    border-radius: 3px;
    position: absolute;
    pointer-events: none;
}

/* To hide the highlight while screenshotting: */
.prepare-screenshot .pageshot-highlight {
    display: none;
}

#selection-hover {
    position: absolute;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    color: #000;
    box-shadow: 2px 2px 5px #777;
    border-radius: 2px;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: content-box;
}

.pageshot-highlight-selection {
    background-color: #ff9;
    border: 1px solid #dd8;
    border-radius: 2px;
}
