env:
  browser: true
  es6: true
  node: true

extends:
  - eslint:recommended

parserOptions:
  sourceType: module
  ecmaFeatures:
    jsx: true

plugins:
  - react

root: true

rules:
  react/jsx-uses-react: 1
  react/jsx-uses-vars: 1

  comma-dangle: 0
  no-console: 0
  no-unused-vars: [1, {vars: all, args: none}]
