/Profile
.DS_Store
pageshot.xpi
pageshot.update.rdf
*.pyc
dist
dist-production
/build
/node_modules
addon.log
cookie-jar.txt
.env.production
/scratch
/data
*.log
/.env.local
/bin/.commit-new-version-copy
/webextension/build
/web-ext-artifacts
/webextension/.web-extension-id
/webextension/manifest.json
