/Profile
.DS_Store
screenshots.xpi
*.pyc
dist
dist-production
/build
/node_modules
addon.log
cookie-jar.txt
.env.production
.venv
/scratch
/data
*.log
/.env.local
/bin/.commit-new-version-copy
/web-ext-artifacts
/addon/webextension/build
/addon/webextension/.web-extension-id
/addon/webextension/manifest.json
/addon/install.rdf
/addon/webextension/_locales
