option_settings:
  - option_name: RDS_DATABASE_TYPE
    value: postgres

  - option_name: USE_VIRTUAL_HOSTS
    value: true

  - option_name: SITE_ORIGIN
    value: pageshot.dev.mozaws.net

  - option_name: CONTENT_ORIGIN
    value: pageshotcontent.dev.mozaws.net

  - option_name: GA_ID
    value: UA-49796218-30

