@import "partials/partials";

.frame-header {
  @include respond-to("medium") {
    @include flex-container(row, space-between, stretch);
    height: $grid-unit * 5;
  }

  @include respond-to("small") {
    @include flex-container(row, space-between, stretch, wrap);
  }
}

.alt-notification {
  @include flex-container(row, flex-start, center);
  min-height: 55px;
  padding: 5px 20px;
}

.shot-main-actions {

  @include respond-to("medium") {
    @include flex-container(row, flex-start, center);
    margin-right: 10px;
    overflow: hidden;
  }

  @include respond-to("small") {
    @include flex-container(row, flex-start, center);
    background: $light-default;
    border-bottom: 1px solid rgba(#000, 0.1);
    border-top: 1px solid $light-border;
    flex: 0 0 100%;
    height: $grid-unit * 3.6;
    order: 1;
    width: 100%;
  }

  flex: 1;
  position: relative;

  .expire-widget {
    @include respond-to("small") {
      display: none;
    }
  }
}

.shot-alt-actions {
  #downloadIcon {
    margin-right: 4px;
  }

  @include respond-to("small") {
    padding-right: $grid-unit * 0.5;

    .download-text {
      display: none;
    }

    #downloadIcon {
      margin-right: 0;
    }
  }

  @include flex-container(row, flex-end, center);
  padding-right: $grid-unit * 1.5;
}

.shot-info {
  @include flex-container(column, center, flex-start);
  color: $black;
  padding: 0 0 0 $grid-unit;

  > div {
    white-space: nowrap;
  }
}

.back-to-index {
  @include respond-to("small") {
    background-position: left -5px center;
    background-repeat: no-repeat;
    background-size: 36px auto;
    height: 32px;
    padding-left: 28px;
  }

  @include flex-container(row, flex-start, center);
  background-image: url("../img/shots.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 46px 46px;
  height: 46px;
  line-height: 46px;
  padding: 0 0 0 46px;
}

.back-to-home {
  @include respond-to("small") {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 24px auto;
    height: 32px;
    padding-left: 30px;
  }

  background-image: url("../img/new-scissors-icon.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 30px auto;
  height: 34px;
  padding-left: 42px;

  > span {
    display: block;
    text-align: left;
  }

  .sub {
    font-size: 12px;
  }
}

.shot-title,
.shot-subtitle {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shot-title {

  @include respond-to("small") {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 4px;
  }

  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  padding-bottom: 8px;

  &.saving {
    opacity: 0.7;
  }

  &.editable {
    cursor: default;
    padding-right: 28px;

    &:hover {
      background-image: url("/static/img/pencil.svg");
      background-position: right 5px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
    }
  }
}

.subtitle-link,
.time-diff {
  margin-right: 8px;
}

.keep-for-form {
  @include flex-container(row, flex-start, center);

  select {
    -moz-appearance: none; //sass-lint:disable-line no-vendor-prefixes
    appearance: none;
    background-color: $light-default;
    background-image: url("/static/img/icon-dropdown.svg");
    background-position: right 8px top 8px;
    background-repeat: no-repeat;
    background-size: 10px auto;
    border-radius: $border-radius;
    border: 1px solid $light-border;
    color: $dark-default;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    height: 26px;
    margin-left: 8px;
    outline: none;
    padding: 0 24px 0 4px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background 150ms $bezier, border 150ms $bezier;
    user-select: none;
    white-space: nowrap;

    &:hover,
    &:focus {
      background-color: $light-hover;
      border-color: $light-border-active;
    }

    &:active {
      background-color: $light-active;
      border-color: $light-border-active;
    }
  }

  .button,
  select {
    margin-right: 8px;
  }
}

// TODO: investigate favicons not appearing on dev, stage and prod
.favicon {
  background-size: 16px 16px;
  display: none;
  height: 16px;
  margin-right: 6px;
  width: 16px;
}

.shot-title-input {
  border-radius: $border-radius;
  border: 1px solid $active-blue;
  font-size: 28px;
  font-weight: 300;
  height: 36px;
  margin: -4px 0 4px -6px;
  padding: 0 5px;
  overflow: auto;
}

.shot-subtitle {
  @include flex-container(row, flex-start, center);
  font-size: 15px;
}

.clips {
  @include flex-container(column, center, center);
  position: relative;
  flex: 1;
}

.clips-warning {
  background: #ffe900;
  padding: 5px;
  border-bottom: 1px solid #d7b600;
  border-top: 1px solid #d7b600;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  color: $black;
  font-size: 12px;
}

.clips-message {
  @include flex-container(row, space-around, center);
  animation: clip-message-appear 6s ease-in-out forwards;
  animation-delay: 750ms;
  background: linear-gradient($white 0%, #f9f9fa 100%);
  border-radius: 3px;
  box-shadow: 0 5px 11px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  padding: 10px 10px 10px 20px;
  position: absolute;
  right: 16px;
  top: 16px;
  height: 72px;
  width: 310px;
  opacity: 0;
}

.clip-message-content {
  color: $black;
  font-size: 15px;
  line-height: 1.3rem;
  padding-right: 5px;

  a {
    color: $link-blue;
    font-weight: bold;
  }
}

.clip-message-dismiss-wrapper {
  @include flex-container(row, flex-start, flex-start);
  flex: 0 0 16px;
  height: 100%;
}

.clip-message-dismiss {
  background-image: url("/static/img/close-16.svg");
  height: 16px;
  width: 16px;
  cursor: pointer;
}

@keyframes clip-message-appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  5% {
    transform: translateY(20px);
    opacity: 0;
  }

  10% {
    transform: translateY(-2px);
    opacity: 1;
  }

  15% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.clip-container {
  @include flex-container(row, center, center);
  flex: 0 auto;
  margin: 20px auto;
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.05);

  a {
    display: flex;
  }
}

.link-button {
  cursor: pointer;
  color: $black;
  background: transparent;
  border: 1px solid #d4d4d4;
  padding: 4px;
  border-radius: 4px;
}

#clip-image-context {
  display: none;
}

.edit,
.pen-button,
.highlight-button {
  background-size: $grid-unit $grid-unit;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: $grid-unit * 0.5;
  transition: background-image 150ms $bezier;
}

.edit-highlight {
  background-image: url("../img/edit-highlight.svg");
  height: 17px;
  width: 17px;
  position: relative;
  left: -31px;
  top: -5px;
  margin-right: -17px;
  cursor: pointer;
}

.highlight-button {
  background-image: url("../img/annotation-highlight.svg");

  &:hover {
    background-color: $light-hover;
  }

  &:active,
  &.active {
    background-image: url("../img/annotation-highlight-active.svg");
  }
}

.pen-button {
  background-image: url("../img/annotation-pen.svg");

  &:hover {
    background-color: $light-hover;
  }

  &:active,
  &.active {
    background-image: url("../img/annotation-pen-active.svg");
  }
}

.clear-button {
  background-image: url("../img/reset.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: $light-hover;
  }
}

html {
  min-height: 100%;
  position: relative;
  background-color: #38383d;
}

body {
  width: 100%;
  margin: 0;
  height: 100%;
  background-color: #38383d;
}

.editor-header {
  @include respond-to("medium") {
    @include flex-container(row, space-between, stretch);
    height: $grid-unit * 5;
  }

  @include respond-to("small") {
    @include flex-container(row, space-between, stretch, wrap);
    height: $grid-unit * 7;
  }
  display: flex;
  height: 100px;
  z-index: 2;
  position: fixed;
  width: 100%;

  .button {
    margin: $grid-unit * 0.25;
  }

  .cancel,
  .save {
    min-width: 100px;
    &:disabled {
      opacity: 0.4;
      cursor: wait;
    }
  }

  .cancel {
    background-color: $light-default;
    border: 1px solid #9b9b9b;

    &:hover {
      background-color: $light-hover;
    }

    &:active {
      background-color: $light-active;
    }
  }
}

.annotation-tools {
  margin: $grid-unit;
  display: flex;
  flex-direction: row;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px;
  border-radius: $border-radius;
  height: 50px;

  & .button:first-child {
    margin-right: 0;
  }
}

.annotation-main-actions {
  overflow: visible;
}

.annotation-alt-actions {
  height: 72px;
  @include respond-to("small") {
    width: 100%;
    justify-content: center;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin-top: $grid-unit * 5;
  position: relative;
  z-index: 1;

  @include respond-to("small") {
    top: $grid-unit * 4;
  }
}

.canvas-container {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  margin: 20px auto;
  z-index: 9999;

  &.pen {
    cursor: url("../img/cursor-pen.png"), auto;
  }

  &.highlighter {
    cursor: url("../img/cursor-highlight.png"), auto;
  }
}

.canvas-container .image-holder {
  z-index: 2;
}

.temp-highlighter {
  mix-blend-mode: multiply;
  z-index: 4;

  &.white {
    mix-blend-mode: soft-light !important;
  }
}

.image-holder {
  z-index: 0;
}

.centered {
  position: absolute;
  margin: auto;
  overflow: hidden;
  top: 0;
  bottom: 0;
}

.color-button {
  height: 22px;
  width: 22px;
  border-radius: 11px;
  margin: 13.5px 10px 0 9.5px;

  &:hover {
    cursor: pointer;
  }
}

#color-button-container {
  min-width: 40px;
}

#color-button-highlight {
  display:none;
  margin-top: $grid-unit/4;
  min-width: 40px;
  height: 40px;
  border-radius: 3px;
  position: absolute;
  background-color: #ededf0;
}

#color-picker {
  position: absolute;
  z-index: 2;
}

#color-picker:hover + #color-button-highlight {
  display: block;
  z-index: 1;
}

.color-board {
  margin-top: $grid-unit * 2.5;
  z-index: 2;
  width: 160px;
  height: 160px;
  position: absolute;
  background: $light-default;
  border: 1px solid $light-border;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.05);
  padding: 20px;

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid $light-border;
    top: -15px;
    left: 9.5px;

    .triangle-inner {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 13px solid $light-default;
      left: -8px;
      top: 2px;
    }
  }
}

.color-board .color-row {
  display: flex;
}

.swatch {
  margin: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30px;
  height: 30px;
  border-radius: 15px;

  &:hover
    {
      border: 3px solid #d4d4d4 !important;
    }
}

.crop-tool {
  z-index: 3;
}

.crop-container {
  z-index: 4;
}

.crop-button {
  background-image: url("../img/crop.svg");
  background-repeat: no-repeat;
  background-position: center;
}
