@import "partials/partials";

.frame-header {
  @include respond-to("medium") {
    @include flex-container(row, space-between, stretch);
    height: $grid-unit * 5;
  }

  @include respond-to("small") {
    @include flex-container(row, space-between, stretch, wrap);
  }
}

.alt-notification {
  @include flex-container(row, flex-start, center);
  min-height: 55px;
  padding: 5px 20px;
}

.shot-main-actions {

  @include respond-to("medium") {
    @include flex-container(row, flex-start, center);
    margin-right: 10px;
    overflow: hidden;
  }

  @include respond-to("small") {
    @include flex-container(row, flex-start, center);
    background: $light-default;
    border-bottom: 1px solid rgba(#000, 0.1);
    border-top: 1px solid $light-border;
    flex: 0 0 100%;
    height: $grid-unit * 3.6;
    order: 1;
    width: 100%;
  }

  flex: 1;
  position: relative;

  .expire-widget {
    @include respond-to("small") {
      display: none;
    }
  }
}

.shot-alt-actions {
  @include respond-to("small") {
    padding-right: $grid-unit * 0.5;

    .download-text {
      display: none;
    }
  }

  @include flex-container(row, flex-end, center);
  padding-right: $grid-unit * 1.5;
}

.shot-info {
  @include flex-container(column, center, flex-start);
  color: $black;
  padding: 0 0 0 $grid-unit;

  > div {
    white-space: nowrap;
  }
}

.back-to-index {
  @include respond-to("small") {
    background-position: left -5px center;
    background-repeat: no-repeat;
    background-size: 36px auto;
    height: 32px;
    padding-left: 28px;
  }

  @include flex-container(row, flex-start, center);
  background-image: url("../img/shots.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 46px 46px;
  height: 46px;
  line-height: 46px;
  padding: 0 0 0 46px;
}

.back-to-home {
  @include respond-to("small") {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 24px auto;
    height: 32px;
    padding-left: 30px;
  }

  background-image: url("../img/new-scissors-icon.svg");
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 30px auto;
  height: 34px;
  padding-left: 42px;

  > span {
    display: block;
    text-align: left;
  }

  .sub {
    font-size: 12px;
  }
}

.shot-title,
.shot-subtitle {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.shot-title {

  @include respond-to("small") {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 4px;
  }

  font-size: 28px;
  font-weight: 300;
  line-height: 28px;
  padding-bottom: 8px;

  &.saving {
    opacity: 0.7;
  }

  &.editable {
    cursor: default;
    padding-right: 28px;

    &:hover {
      background-image: url("/static/img/pencil.svg");
      background-position: right 5px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
    }
  }
}

.subtitle-link,
.time-diff {
  margin-right: 8px;
}

.keep-for-form {
  @include flex-container(row, flex-start, center);

  select {
    -moz-appearance: none; //sass-lint:disable-line no-vendor-prefixes
    appearance: none;
    background-color: $light-default;
    background-image: url("/static/img/icon-dropdown.svg");
    background-position: right 8px top 8px;
    background-repeat: no-repeat;
    background-size: 10px auto;
    border-radius: $border-radius;
    border: 1px solid $light-border;
    color: $dark-default;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    height: 26px;
    margin-left: 8px;
    outline: none;
    padding: 0 24px 0 4px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background 150ms $bezier, border 150ms $bezier;
    user-select: none;
    white-space: nowrap;

    &:hover,
    &:focus {
      background-color: $light-hover;
      border-color: $light-border-active;
    }

    &:active {
      background-color: $light-active;
      border-color: $light-border-active;
    }
  }

  .button,
  select {
    margin-right: 8px;
  }
}

// TODO: investigate favicons not appearing on dev, stage and prod
.favicon {
  background-size: 16px 16px;
  display: none;
  height: 16px;
  margin-right: 6px;
  width: 16px;
}

.shot-title-input {
  border-radius: $border-radius;
  border: 1px solid $active-blue;
  font-size: 28px;
  font-weight: 300;
  height: 36px;
  margin: -4px 0 4px -6px;
  padding: 0 5px;
  overflow: auto;
}

.shot-subtitle {
  @include flex-container(row, flex-start, center);
  font-size: 15px;
}

.clip-container {
  @include flex-container(row, center, center);
  flex: 0 auto;
  margin: 20px auto;
  max-width: 90%;
}

.link-button {
  cursor: pointer;
  color: $black;
  background: transparent;
  border: 1px solid #d4d4d4;
  padding: 4px;
  border-radius: 4px;
}

#clip-image-context {
  display: none;
}
