@import "partials/partials";
@import "partials/delete-confirmation";

.alt-notification {
  @include flex-container(row, flex-start, center);
  min-height: 55px;
  padding: 5px 20px;
}

.back-to-home {
  @include respond-to("small") {
    background-size: 24px auto;
    padding-left: 35px;
    border: 0;
    margin: 0 2px;
    span {
      font-size: 20px;
      &.small-text {
        font-size: 14px;
      }
    }
  }

  background-position: left center;
  background-image: url("../img/icon-screenshot.svg");
  background-repeat: no-repeat;
  background-size: 36px auto;
  padding-left: 52px;
  margin: 0 16px;

  span {
    display: block;
    text-align: left;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    &.small-text {
      font-size: 17px;
      padding-left: 0;
      padding-right: 5px;
    }
  }

  .sub {
    font-size: 12px;
  }
}

.shot-main-actions {

  @include respond-to("large") {
    @include flex-container(row, flex-start, center);
    flex: initial;
    padding-top: 4px;
    overflow: hidden;
  }

  @include respond-to("small") {
    @include flex-container(row, flex-start, center);
    background: $light-default;
    height: $grid-unit * 3.5;
  }

  flex: 1;
  position: relative;

  .expire-info {
    display: block;
    @include respond-to("small") {
      display: none;
    }
    @include respond-to("large") {
      display: none;
    }
    @include respond-to("extra-large") {
      display: block;
    }
  }
}

.shot-alt-actions {
  .edit-shot-button {
    position: relative;
  }
  @include flex-container(row, flex-end, center);
  @include respond-to("large") {
    background-color: $light-default;
    justify-content: flex-end;
    border: none;
    flex: 1;
    order: 0;
  }
  background-color: $white;
  border-bottom: 1px solid rgba($black, 0.1);
  border-top: 1px solid $light-border;
  flex: 0 0 100%;
  flex-wrap: wrap;
  justify-content: center;
  min-width: $grid-unit * 15;
  order: 1;
}

.shot-info {
  @include flex-container(column, center, flex-start);
  @include respond-to("small") {
    padding: 0 0 0 $grid-unit * 0.5;
  }
  color: $black;
  padding: 0 0 0 $grid-unit;

  > div {
    white-space: nowrap;
  }
}

.shot-title,
.shot-subtitle {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.shot-title {
  @include respond-to("medium") {
    max-width: 500px;
  }
  @include respond-to("large") {
    font-size: 32px;
    line-height: 39px;
    max-width: 250px;
    padding-bottom: 8px;
  }
  @include respond-to("extra-large") {
    max-width: 500px;
  }
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  max-width: 130px;
  padding-bottom: 4px;

  &.saving {
    opacity: 0.7;
  }

  &.editable {
    cursor: default;
    padding-right: 28px;

    &:hover {
      @include respond-to("large") {
        background-size: 24px 24px;
      }
      background-image: url("/static/img/pencil.svg");
      background-position: right 5px;
      background-repeat: no-repeat;
      background-size: 20px 20px;
    }
  }
}

.shot-subtitle {
  @include flex-container(row, flex-start, center);
  @include respond-to("large") {
    font-size: 14px;
    line-height: 17px;
  }
  font-size: 12px;
  line-height: 15px;
}

.shot-title-input {
  @include respond-to("large") {
    max-width: 200px;
  }
  border-radius: $border-radius;
  border: 1px solid $active-blue;
  font-size: 24px;
  font-weight: 300;
  height: 32px;
  margin: 0 0 4px -6px;
  padding: 0 5px;
  overflow: auto;
  max-width: 100px;
}

.subtitle-link,
.time-diff {
  margin-right: 8px;
}

.promo-panel {
  @include respond-to("large") {
    top: 95px;
  }
  background: $white;
  border-radius: 3px;
  box-shadow: $stroke-box-shadow, $medium-box-shadow;
  padding: 5px;
  position: absolute;
  top: 60px;
  right: -30px;
  text-align: center;
  width: 150px;
  z-index: 999;

  .title {
    font-size: 14px;
    line-height: 14px;
    margin: 5px;
  }

  .message {
    font-size: 12px;
    margin: 5px 2px;
  }

  .message-text {
    margin: 0 2px;
  }

  a.box-close {
    position: absolute;
    top: 2px;
    right: 2px;
    cursor: pointer;
    color: $black;
    width: 15px;
    height: 15px;
    line-height: 12px;
  }

  .box-close:before {
    content: "×";
  }

  .box-close:hover {
    background-color: $light-hover;
  }
}

.delete-confirmation-dialog {
  &.right-align {
    @include respond-to("large") {
      top: 78px;
    }
    top:58px;
  }
}

.clips {
  @include flex-container(column, center, center);
  position: relative;
  flex: 1;
}

// TODO: fix color literals in #3864
.clips-warning {
  background: #ffe900;
  padding: 5px;
  border-bottom: 1px solid #d7b600;
  border-top: 1px solid #d7b600;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  color: $black;
  font-size: 12px;
}

.clip-container {
  @include flex-container(row, center, center);
  flex: 0 auto;
  margin: 20px auto;
  max-width: 90%;

  img {
    box-shadow: $large-box-shadow;
  }
}

.link-button {
  cursor: pointer;
  color: $black;
  background: transparent;
  border: 1px solid $light-active;
  padding: 4px;
  border-radius: 4px;
}

#clip-image-context {
  display: none;
}

.pen-button,
.text-button,
.highlight-button {
  background-size: $grid-unit $grid-unit;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: $grid-unit * 0.5;
  transition: background-image 150ms $bezier;
}

.edit-highlight {
  @include respond-to("large") {
    left: 50px;
    top: 25px;
  }
  background-image: url("../img/edit-highlight.svg");
  height: 17px;
  width: 17px;
  position: absolute;
  left: 30px;
  top: 15px;
  cursor: pointer;
}

.highlight-button {
  background-image: url("../img/annotation-highlight.svg");

  &:hover {
    background-color: $light-hover;
  }

  &:active,
  &.active {
    background-image: url("../img/annotation-highlight-active.svg");
  }
}

.pen-button {
  background-image: url("../img/annotation-pen.svg");

  &:hover {
    background-color: $light-hover;
  }

  &:active,
  &.active {
    background-image: url("../img/annotation-pen-active.svg");
  }
}

.undo-button {
  background: url("../img/annotation-redo.svg");
  transform: scale(-1, 1);
}

.redo-button {
  background-image: url("../img/annotation-redo.svg");
}

.clear-button {
  background-image: url("../img/reset.svg");
}

.undo-button,
.redo-button,
.clear-button {
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: $light-hover;
  }
  &.inactive {
    filter: brightness(2.4);

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      cursor: default;
    }
  }
}

.annotation-divider {
  border-right: 1px solid $light-border-active;
  margin: auto auto;
  width: 1px;
  height: 28px;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  width: 100%;
  margin: 0;
  height: 100%;
}

.editor-header {
  @include respond-to("medium") {
    @include flex-container(row, space-between, stretch, wrap);
    height: $grid-unit * 5;
  }

  @include respond-to("small") {
    @include flex-container(row, space-between, stretch, wrap);
    height: $grid-unit * 7;
  }
  display: flex;
  height: 100px;
  z-index: 2;
  position: fixed;
  width: 100%;

  .shot-edit-main-actions {
    @include respond-to("medium") {
      @include flex-container(row, flex-start, center);
      margin-right: 10px;
      padding-top: 4px;
      overflow: hidden;
    }

    @include respond-to("small") {
      @include flex-container(row, flex-start, center);
      background: $light-default;
      border-bottom: 1px solid rgba($black, 0.1);
      border-top: 1px solid $light-border;
      flex: 0 0 100%;
      height: $grid-unit * 3.6;
      order: 1;
      width: 100%;
    }

    flex: 1;
    position: relative;
  }

  .shot-edit-alt-actions {
    @include flex-container(row, flex-end, center);
  }

  .button {
    margin: $grid-unit * 0.25;
  }

  .cancel,
  .save {
    min-width: 100px;
    &:disabled {
      opacity: 0.4;
      cursor: wait;
    }
  }

  .cancel {
    background-color: $light-default;
    border: 1px solid $light-border-active;

    &:hover,
    &:focus {
      background-color: $light-hover;
    }

    &:active {
      background-color: $light-active;
    }
  }
}

.annotation-tools {
  margin: $grid-unit;
  display: flex;
  flex-direction: row;
  background: $white;
  box-shadow: $medium-box-shadow;
  border-radius: $border-radius;
  height: 50px;
}

.annotation-main-actions {
  overflow: visible;
}

.annotation-alt-actions {
  height: 72px;
  @include respond-to("small") {
    width: 100%;
    justify-content: center;
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin-top: $grid-unit * 5;
  position: relative;
  z-index: 1;

  @include respond-to("small") {
    top: $grid-unit * 2;
  }
}

.canvas-container {
  box-shadow: $large-box-shadow;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  z-index: 9999;
}

.canvas-container .image-holder {
  z-index: 2;

  &.pen {
    cursor: url("../img/cursor-pen.png"), auto;
  }

  &.highlighter {
    cursor: url("../img/cursor-highlight.png"), auto;
  }
}

.highlighter {
  mix-blend-mode: multiply;
  z-index: 4;

  &.white {
    mix-blend-mode: soft-light !important;
  }
}

.image-holder {
  z-index: 0;
}

.centered {
  position: absolute;
  margin: auto;
  overflow: hidden;
  top: 0;
  bottom: 0;
}

#color-button-container {
  min-width: 40px;
  margin: 0 5px;
}

#color-button-highlight {
  display:none;
  margin-top: $grid-unit/4;
  min-width: 40px;
  height: 40px;
  border-radius: 3px;
  position: absolute;
  background-color: $light-hover;
}

#color-picker {
  border-radius: 11px;
  position: absolute;
  height: 22px;
  width: 22px;
  margin: 13.5px 10px 0 9px;
  z-index: 2;

  &:hover {
    cursor: pointer;
  }
}

#color-picker:hover + #color-button-highlight,
#color-picker:focus + #color-button-highlight {
  display: block;
  z-index: 1;
}

.color-board {
  margin-top: $grid-unit * 2.5;
  z-index: 2;
  width: 160px;
  height: 160px;
  position: absolute;
  background: $light-default;
  border-radius: $border-radius;
  box-shadow: $stroke-box-shadow, $medium-box-shadow;
  padding: 20px;

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 15px solid $light-active;
    top: -15px;
    left: 9.5px;

    .triangle-inner {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 13px solid $light-default;
      left: -8px;
      top: 2px;
    }
  }
}

.color-board .color-row {
  display: flex;
}

.swatch {
  margin: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30px;
  height: 30px;
  border-radius: 15px;

  &:hover
    {
      border: 3px solid $light-active !important;
    }
}

.crop-tool {
  z-index: 3;
}

.crop-container {
  z-index: 4;
}

.crop-button {
  background-image: url("../img/crop.svg");
  background-repeat: no-repeat;
  background-position: center;
}

// CSS used for Annotation Text Tool
.text-select {
  -moz-appearance: none; //sass-lint:disable-line no-vendor-prefixes
  appearance: none;
  background-color: $light-default;
  background-image: url("../img/icon-dropdown.svg");
  background-position: right 8px top 8px;
  background-repeat: no-repeat;
  background-size: 10px auto;
  border-radius: $border-radius;
  border: 1px solid $light-border;
  color: $dark-default;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  height: 26px;
  margin: 12px 5px 12px 15px;
  outline: none;
  padding: 0 24px 0 4px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 150ms $bezier, border 150ms $bezier;
  user-select: none;
  white-space: nowrap;
  vertical-align: middle;

  &:hover,
  &:focus {
    background-color: $light-hover;
    border-color: $light-border-active;
  }

  &:active {
    background-color: $light-active;
    border-color: $light-border-active;
  }

  option {
    padding: 0 40px 0 4px;
  }
}

.text-button {
  background-image: url("../img/annotation-text.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: $light-hover;
  }
}

.text-tool-container {
  z-index: 4;
}

// Text Sizes used in the text tool
$large: 36px;
$medium: 24px;
$small: 16px;

// Colors used in the text tool
$red: rgb(231, 76, 60);
$green: rgb(46, 204, 113);
$blue: rgb(52, 152, 219);
$yellow: rgb(255, 255, 0);
$purple: rgb(142, 68, 173);
$sea-green: rgb(26, 188, 156);
$grey: rgb(52, 73, 94);

$bg-black: rgba(0, 0, 0, 0.6);
$bg-white: rgba(255, 255, 255, 0.7);

@mixin type-box($size) {
  padding: 4px $size * 0.5;
  font-size: $size;
}

@mixin type-color($b, $f) {
  background: $b;
  color: $f;
}

.text {
  cursor: text;
  font-weight: 900;
  font-family: sans-serif;
  white-space: nowrap;
  outline: 0;
  border: none;
  white-space : pre;
}

.large-text {
  @include type-box($large);
}

.medium-text {
  @include type-box($medium);
}

.small-text {
  @include type-box($small);
}


.textTool {

  .black {
    @include type-color($bg-white, $black);
  }

  .white {
    @include type-color($bg-black, $white);
  }

  .red {
    @include type-color($bg-black, $red);
  }

  .green {
    @include type-color($bg-black, $green);
  }

  .blue {
    @include type-color($bg-white, $blue);
  }

  .yellow {
    @include type-color($bg-black, $yellow);
  }

  .purple {
    @include type-color($bg-white, $purple);
  }

  .sea-green {
    @include type-color($bg-black, $sea-green);
  }

  .grey {
    @include type-color($bg-white, $grey);
  }
}
