@import "partials/partials";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", "helvetica neue", helvetica, ubuntu, roboto, noto, arial, sans-serif;
  font-size: 12pt;
}

.container {
  -ms-flex-align: center;
  -ms-flex-pack: end;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  flex-basis: auto;
  flex-grow: 1;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1160px;
  min-width: 0;
  padding: 40px 33px;
  position: relative;
}

/* Header Banner */

.banner {
  align-items: center;
  background-color: #04d1e6;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  min-height: 587px;
  position: relative;
}


.banner-container {
  @include flex-container(row, center, center);
  max-width: 1160px;
  min-width: 960px;
  margin: 0 auto;
  position: relative;
}

.banner-image-front {
  background-image: url("../img/banner-front.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 400px auto;
  flex: 0 0 420px;
  height: 440px;
  z-index: 999;
}

.banner-image-back {
  background-image: url("../img/banner-back.svg");
  background-position: center 25%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  inset-inline-end: 0;
  inset-inline-start: 0;
  bottom: 0;
  z-index: 0;
}

.banner-content {
  min-width: 430px;
  padding: 10px;
}

.banner-content h1 {
  color: $white;
  font-size: 3em;
  font-weight: 400;
  margin: 0 0 20px;
}

.banner-content p {
  color: $white;
  font-size: 1.3em;
  font-weight: 400;
  line-height: 1.61;
  margin: 0;
  padding-inline-end: 30px;
}

h2 {
  color: #004c66;
  font-size: 2.3em;
  font-weight: 600;
  line-height: 55px;
  margin: 29px 20px 22px;
  text-align: center;
}

.button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  border-radius: 3px;
  border: 1px solid transparent;
  box-shadow: $medium-box-shadow;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 40px;
  line-height: 40px;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 0.15s, width 0.15s;
  user-select: none;
  white-space: nowrap;
}

.download-firefox {
  -moz-user-select: none;
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -ms-user-select: none;
  -webkit-user-select: none;
  align-items: center;
  color: $white;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  height: 80px;
  justify-content: center;
  margin-top: 30px;
  transition-duration: 0.25s;
  transition-property: box-shadow, border;
  user-select: none;
  width: 260px;
}

.button.primary {
  background: #30e60b;
  color: #fff;
  text-align: start;

  &:hover,
  &:focus {
    background: #20c60b;
  }

  &:active {
    background: #10b60b;
    box-shadow: $small-box-shadow;
  }

}

.download-firefox .button-icon {
  -ms-flex: 0 0 57px;
  background-image:   url("../img/landing-small-firefox-logo@2x.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 57px 59px;
  flex: 0 0 57px;
  height: 59px;
  margin-inline-end: 16px;
  position: relative;
}

.download-firefox .button-icon-badge {
  background-color: $white;
  background-image:   url("../img/landing-download-icon@2x.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 14px 14px;
  border-radius: 50%;
  bottom: 4px;
  box-shadow: $small-box-shadow;
  height: 16px;
  padding: 6px;
  position: absolute;
  inset-inline-end: 2px;
  transition-duration: 0.15s;
  width: 16px;
}

.download-firefox .button-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1em;
  margin-bottom: 0.25em;
}

.download-firefox .button-description {
  font-size: 18px;
  font-weight: 300;
  line-height: 1em;
}

/* Instruction Sections */

section {
  align-items: center;
  display: flex;
  min-height: 600px;
}

section:nth-child(even) {
  background-color: #f7fdfe;
}

section .container {
  max-width: 1100px;
  padding: 40px 63px;
}

.section-content h3 {
  font-size: 2.2em;
  font-weight: 400;
  margin: 0;
}

.section-content .bold {
  font-weight: 500;
}

.section-content {
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  line-height: 1.61;
  width: 36%;
}

.section-image {
  background-size: contain;
  display: flex;
  height: auto;
  justify-content: flex-end;
  width: 50%;
}

#section-1 .section-image {
  background-image:   url("../img/landing-screenshots_image_01.svg");
  background-position: 100% center;
  background-repeat: no-repeat;
  height: 476px;
}

#section-1 .section-image.page-action {
  background-image:   url("../img/landing-screenshots_image_01_57.svg");
}

#section-2 .section-image {
  background-image:   url("../img/landing-screenshots_image_02.svg");
  background-position: 0% center;
  background-repeat: no-repeat;
  height: 500px;
}

#section-3 .section-image {
  background-image:   url("../img/landing-screenshots_image_03.svg");
  background-position: 100% center;
  background-repeat: no-repeat;
  height: 519px;
}

#section-4 .section-image {
  background-image:   url("../img/landing-screenshots_image_04.svg");
  background-position: 100% center;
  background-repeat: no-repeat;
  height: 533px;
}

#section-5 .section-image {
  background-image:   url("../img/landing-screenshots_image_05.svg");
  background-position: 100% center;
  background-repeat: no-repeat;
  height: 533px;
}

/* These align-* layout styles are used for the onboarding tour sections */
.align-left {
  order: 1;
}

.align-right {
  order: 2;
}

/* Coming Soon Section */

#coming {
  min-height: 350px;
}

#coming .container {
  max-width: 840px;
  padding: 40px 100px;
}

.coming-content {
  color: #4a4a4a;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 45%;
}

.coming-content h3 {
  font-size: 2em;
  font-weight: 100;
  margin: 0;
}

.coming-content p {
  font-size: 0.9em;
  line-height: 1.61;
  margin-bottom: 0;
}

.coming-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.coming-icons span {
  color: #4a4a4a;
  font-size: 2em;
  margin: 0 33px;
  position: relative;
  top: 16px;
}

.coming-icons div {
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
}



/* Responsive */

@media (max-width: 1120px) and (min-width: 769px) {

  .banner {
    min-height: 500px;
  }

  .banner-container {
    max-width: 750px;
    min-width: 750px;
  }

  .banner-content {
    min-width: 320px;
    width: 350px;
  }

  .banner-image-front {
    background-size: 360px auto;
    flex: 0 0 400px;
    height: 420px;
  }

  .banner-image-back {
    background-size: 90% auto;
    background-position: 300px center;
  }

  section {
    min-height: 500px;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .banner {
    background-image:   url("../img/landing-screenshots_mobile.svg");
    background-repeat: no-repeat;
    background-position: 100% 20%;
    height: 320px;
  }

  .banner-image-back,
  .banner-image-front {
    display: none;
  }

  .banner-spacer {
    height: 74px;
  }

  .banner-container {
    min-width: 0;
  }

  .banner-content {
    margin-top: 80px;
    max-width: 500px;
    min-width: 0;
    text-align: center;
  }

  .banner-content p {
    font-size: 1.2em;
    padding-inline-end: 0;
  }

  .button {
    margin-inline-end: auto;
    margin-inline-start: auto;
  }

  h2 {
    font-size: 1.6em;
  }

  section {
    min-height: 550px;
  }

  section .container {
    padding: 40px 33px;
  }

  .section-content h3 {
    font-size: 2em;
  }

  .section-content {
    max-width: 500px;

    order: 1 !important;
    width: 100%;
  }

  .section-image {
    background-position: center center !important;
    height: 90vw !important;
    margin-top: 33px;
    max-height: 500px;
    max-width: 500px;
    order: 2 !important;
    width: 90vw !important;
  }

  #coming .container {
    padding: 40px 33px;
  }

  .coming-content {
    margin-top: 40px;
    max-width: 300px;
    width: 100%;
  }

  .coming-icons div {
    height: 50px;
    width: 50px;
  }

  .coming-icons span {
    margin: 0 16px;
    top: 3px;
  }
}
