.pageshot-hide-selection .pageshot-highlight,
.pageshot-hide-selection .pageshot-mover,
.pageshot-hide-selection .pageshot-bghighlight,
.pageshot-hide-selection .pageshot-textbutton,
.pageshot-hide-selection .pageshot-horizcross,
.pageshot-hide-selection .pageshot-vertcross {
  display: none;
}

.pageshot-hide-movers .pageshot-mover {
  display: none;
}

.pageshot-highlight {
  position: absolute;
  border: 1px solid #000;
  z-index: 1000;
  pointer-events: none;
}

.pageshot-mover {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #348CFF;
  pointer-events: auto;
  z-index: 1001;
}

.pageshot-topLeft {
  cursor: nwse-resize;
  top: -5px;
  left: -5px;
}

.pageshot-top {
  cursor: ns-resize;
  top: -5px;
  left: 50%;
  margin-left: -5px;
}

.pageshot-topRight {
  cursor: nesw-resize;
  top: -5px;
  right: -5px;
}

.pageshot-left {
  cursor: ew-resize;
  top: 50%;
  margin-top: -5px;
  left: -5px;
}

.pageshot-right {
  cursor: ew-resize;
  top: 50%;
  margin-top: -5px;
  right: -5px;
}

.pageshot-bottomLeft {
  cursor: nesw-resize;
  left: -5px;
  bottom: -5px;
}

.pageshot-bottom {
  cursor: ns-resize;
  left: 50%;
  margin-left: -5px;
  bottom: -5px;
}

.pageshot-bottomRight {
  cursor: nwse-resize;
  bottom: -5px;
  right: -5px;
}

.pageshot-bghighlight {
  position: absolute;
  background-color: rgba(50, 50, 50, 0.5);
  pointer-events: none;
  z-index: 1000;
}

.pageshot-textbutton {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    box-shadow: 5px 5px 10px #999;
    border-radius: 2px;
    text-align: center;
    vertical-align: center;
    color: #000;
    background-color: #fff;
    z-index: 2000;
    cursor: pointer;
}

.pageshot-horizcross {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 0px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.pageshot-vertcross {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 0px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
