// This is how far outside the selection the mover target extends:
$mover-outer: 10px;
// And this is how far inside the selection it extends:
$mover-inner: 40px;
// This is the size of the little blue handles:
$handle-size: 25px;
// This is how far out of the box the handles go:
$handle-outside-extent: 0px;
// And some calculated values based on these that will be used below:
$handle-mover-offset: $mover-outer - ($handle-outside-extent / 2);
$mover-size: $mover-outer + $mover-inner;
$overlay-z-index: 900000;

.pageshot-hide-selection .pageshot-highlight,
.pageshot-hide-selection .pageshot-mover,
.pageshot-hide-selection .pageshot-bghighlight,
.pageshot-hide-selection .pageshot-textbutton,
.pageshot-hide-selection .pageshot-horizcross,
.pageshot-hide-selection .pageshot-vertcross,
.pageshot-hide-selection .pageshot-help-message,
.pageshot-hide-selection .pageshot-preview-overlay,
.pageshot-hide-selection .pageshot-crosshair-pulse,
.pageshot-hide-selection .pageshot-crosshair-inner,
.pageshot-hide-selection .pageshot-myshots-reminder {
  display: none;
}

.pageshot-hide-movers .pageshot-mover {
  display: none;
}

.pageshot-highlight {
  position: absolute;
  border: 1px solid #000;
  z-index: $overlay-z-index;
  pointer-events: none;
}

.pageshot-mover-target {
  position: absolute;
  z-index: 5;
  pointer-events: auto;
}

.pageshot-highlight, .pageshot-mover-target {
  background-color: transparent;
  background-image: none;
}

.pageshot-mover-target, .pageshot-bghighlight {
  border: none;
}

.pageshot-mover-target.pageshot-topLeft {
  cursor: nwse-resize;
  top: - $mover-outer;
  left: - $mover-outer;
  width: $mover-size;
  height: $mover-size;
}
.pageshot-mover-target.pageshot-top {
  cursor: ns-resize;
  top: - $mover-outer;
  left: 0;
  width: 100%;
  height: $mover-size;
  // It will be too wide, but this will place it below topLeft/etc:
  z-index: 4;
}
.pageshot-mover-target.pageshot-topRight {
  cursor: nesw-resize;
  top: - $mover-outer;
  right: - $mover-outer;
  height: $mover-size;
  width: $mover-size;
}
.pageshot-mover-target.pageshot-left {
  cursor: ew-resize;
  top: 0;
  left: - $mover-outer;
  height: 100%;
  width: $mover-size;
  z-index: 4;
}
.pageshot-mover-target.pageshot-right {
  cursor: ew-resize;
  top: 0;
  right: - $mover-outer;
  height: 100%;
  width: $mover-size;
  z-index: 4;
}
.pageshot-mover-target.pageshot-bottomLeft {
  cursor: nesw-resize;
  left: - $mover-outer;
  bottom: - $mover-outer;
  width: $mover-size;
  height: $mover-size;
}
.pageshot-mover-target.pageshot-bottom {
  cursor: ns-resize;
  left: 0;
  bottom: - $mover-outer;
  width: 100%;
  height: $mover-size;
  z-index: 4;
}
.pageshot-mover-target.pageshot-bottomRight {
  cursor: nwse-resize;
  bottom: - $mover-outer;
  right: - $mover-outer;
  width: $mover-size;
  height: $mover-size;
}

.pageshot-mover-target:hover .pageshot-mover {
  opacity: 1.0;
}


.pageshot-mover {
  position: absolute;
  height: $handle-size;
  width: $handle-size;
  background-color: #348CFF;
  opacity: 0.5;
  z-index: 1001;
}

.pageshot-topLeft .pageshot-mover {
  top: $handle-mover-offset;
  left: $handle-mover-offset;
}

.pageshot-top .pageshot-mover {
  top: $handle-mover-offset;
  left: 50%;
  margin-left: - $handle-size / 2;
}

.pageshot-topRight .pageshot-mover {
  top: $handle-mover-offset;
  right: $handle-mover-offset;
}

.pageshot-left .pageshot-mover {
  top: 50%;
  margin-top: - $handle-size / 2;
  left: $handle-mover-offset;
}

.pageshot-right .pageshot-mover {
  top: 50%;
  margin-top: - $handle-size / 2;
  right: $handle-mover-offset;
}

.pageshot-bottomLeft .pageshot-mover {
  bottom: $handle-mover-offset;
  left: $handle-mover-offset;
}

.pageshot-bottom .pageshot-mover {
  left: 50%;
  margin-left: - $handle-size / 2;
  bottom: $handle-mover-offset;
}

.pageshot-bottomRight .pageshot-mover {
  right: $handle-mover-offset;
  bottom: $handle-mover-offset;
}

.pageshot-bghighlight {
  position: absolute;
  background-color: rgba(50, 50, 50, 0.5);
  pointer-events: none;
  z-index: 1000;
}

.pageshot-textbutton {
    position: absolute;
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    box-shadow: 5px 5px 10px #999;
    border-radius: 2px;
    text-align: center;
    vertical-align: center;
    color: #000;
    background-color: #fff;
    z-index: 2000;
    cursor: pointer;
}

.pageshot-horizcross {
  position: fixed;
  left: 0px;
  width: 100%;
  height: 0px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  z-index: $overlay-z-index + 50;
}

.pageshot-vertcross {
  position: fixed;
  top: 0px;
  height: 100%;
  width: 0px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  z-index: $overlay-z-index + 50;
}

.pageshot-preview-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: $overlay-z-index;
}

.pageshot-crosshair-pulse {
  position: fixed;
  top: 20%;
  left: 60%;
  margin-left: -20px;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 0, 0.5);
  z-index: $overlay-z-index + 1000;
  background-image: radial-gradient(20px at 50% 50%, rgba(255, 255, 0, 0.1), rgba(255, 255, 0, 0.5));
  animation-name: pageshot-pulse;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 20;
}

.pageshot-crosshair-inner {
  position: fixed;
  top: 20%;
  left: 60%;
  margin-left: -4px;
  margin-top: -4px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #fff;
  z-index: $overlay-z-index + 101;
}

@keyframes pageshot-pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.pageshot-horizcross.pageshot-crosshair-preview {
  top: 20%;
}

.pageshot-vertcross.pageshot-crosshair-preview {
  left: 60%;
}

.pageshot-myshots-reminder {
  @extend .pageshot-reset;
  width: 200px;
  padding: 5px 10px 10px 10px;
  background-color: #fff;
  color: #000;
  font-size: 11px;
  border-radius: 2px;
  border: 1px solid #000;
  position: fixed;
  top: 4px;
  left: 10px;
  z-index: $overlay-z-index + 20;

  .pageshot-myshots-arrow {
    position: relative;
    top: -10px;
    left: 0px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
  }

}

/* .pageshot reset */
/* http://yuilibrary.com/yui/docs/cssreset/ */
.pageshot-reset {

* {
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
}

header {
    width: auto;
}

/*
YUI 3.10.3 (build 2fb5187)
Copyright 2013 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
http://yuilibrary.com/license/
*/

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {
	border:0;
}
/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style:normal;
	font-weight:normal;
}

ol,
ul {
	list-style:none;
}

caption,
th {
	text-align:left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,
q:after {
	content:'';
}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
/* to preserve line-height and selector appearance */
sup {
	vertical-align:text-top;
}
sub {
	vertical-align:text-bottom;
}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
/*to enable resizing for IE*/
input,
textarea,
select {
	*font-size:100%;
}
/*because legend doesn't inherit in IE */
legend {
	color:#000;
}

}
