body {
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", "helvetica neue", helvetica, ubuntu, roboto, noto, arial, sans-serif;
}

table.generic-table {

  th {
    border-bottom: 2px solid #000;
  }

  th,
  td {
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
  }

  td:not(:last-child) {
    border-right: 1px solid #ddd;
  }

  tr:not(:first-child) td {
    border-top: 1px solid #ddd;
  }

  th:not(:last-child),
  td:not(:last-child) {
    padding-right: 30px;
  }

  td {
    text-align: right;
  }
}

.execution-time {
  color: #666;
  font-size: 90%;
}
