@import "partials/variables";

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

$slide-width: 440px;
$slide-height: 400px;
$next-prev-size: 40px;
$slide-status-color: $body-background-color;
$status-inactive-size: 10px;
$status-active-size: 14px;

.slide-1,
.slide-2,
.slide-3,
.slide-4,
.slide-5 {
  display: none;
}

.active-slide-1 .slide-1 {
  display: block;
}

.active-slide-2 .slide-2 {
  display: block;
}

.active-slide-3 .slide-3 {
  display: block;
}

.active-slide-4 .slide-4 {
  display: block;
}

.goto-slide {
  border: 0;
  background: transparent;
  height: $status-active-size + 4;
  vertical-align: middle;
}

.goto-slide > span {
  display: inline-block;
  height: $status-inactive-size;
  width: $status-inactive-size;
  background-color: $slide-status-color;
  border-radius: $status-inactive-size / 2;
  opacity: 0.7;
}

.goto-slide:hover > span {
  opacity: 1;
}

@mixin active {
  opacity: 1;
  background-color: $slide-status-color;
  height: $status-active-size;
  width: $status-active-size;
  border-radius: $status-active-size / 2;
}

.active-slide-1 .goto-slide-1 > span {
  @include active;
}

.active-slide-2 .goto-slide-2 > span {
  @include active;
}

.active-slide-3 .goto-slide-3 > span {
  @include active;
}

.active-slide-4 .goto-slide-4 > span {
  @include active;
}

%next-prev-button {
  position: absolute;
  display: inline-block;
  height: $next-prev-size;
  width: $next-prev-size;
  border-radius: ($next-prev-size / 2);
  border: 0;
  top: 50%;
  margin-top: - ($next-prev-size / 2);
  text-align: center;
}

#prev {
  @extend %next-prev-button;
  left: 50%;
  margin-left: - ($slide-width / 2) - ($next-prev-size / 2);
}

#next,
#done {
  @extend %next-prev-button;
  left: 50%;
  margin-left: ($slide-width / 2) - ($next-prev-size / 2);
}

#skip {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: - ($slide-width / 2) + 20;
  margin-top: ($slide-height / 2) + 10;
  text-transform: uppercase;
  background: none;
  border: 0;
  color: #fff;
  font-size: 110%;
  z-index: 10;
}

.active-slide-1 #prev {
  display: none;
}

.active-slide-4 #next {
  display: none;
}

#done {
  display: none;
  text-transform: uppercase;
  font-size: 55%;
}

.active-slide-4 #done {
  display: inline-block;
}

#slide-overlay {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}

#slide-container {
  position: absolute;
  background-color: $body-background-color;
  top: 50%;
  left: 50%;
  width: $slide-width;
  height: $slide-height;
  margin-top: - ($slide-height / 2);
  margin-left: - ($slide-width / 2);
  // if .slide header doesn't have this radius too there are square corners:
  border-radius: 5px;
}

#slide-status-container {
  position: absolute;
  top: $slide-height;
  width: 100%;
  text-align: center;
  padding: 15px;
}

.slide p {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 110%;
  font-weight: normal;
}

h1 sup {
  text-transform: uppercase;
  font-size: 70%;
  color: #fff;
  background-color: rgb(0, 209, 230);
  padding: 2px;
  border-radius: 1px;
  margin-left: 4px;
}

.slide header {
  border-radius: 5px 5px 0 0;
  height: $slide-height - 120;
  background-color: #99f;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
