@import "partials/variables";
@import "partials/mixins";
@import "partials/animations";

$slide-width: 700px;
$slide-height: 520px;
$slide-width-small: 450px;
$slide-height-small: 360px;
$next-prev-size: 70px;
$slide-status-color: $light-default;

$medium-dark-blue: #009ec0;
$super-blue: #00d1e6;

html,
body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", "helvetica neue", helvetica, ubuntu, roboto, noto, arial, sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

#slide-overlay {
  @include flex-container(column, center, center);
  animation: fade-in 250ms forwards $bezier;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  opacity: 0;
  width: 100%;
}

#slide-container {
  animation-delay: 50ms;
  animation: fade-in 250ms forwards $bezier;
  opacity: 0;
}

.slide {
  @include flex-container(column, center, center);
  background-color: $light-default;
  border-radius: 5px;
  height: $slide-height;
  overflow: hidden;
  width: $slide-width;

  .slide-image {
    background-size: 700px 378px;
    flex: 0 0 360px;
    font-size: 16px;
    width: 100%;
  }

  .slide-content {
    @include flex-container(column, center, center);
    box-sizing: border-box;
    flex: 0 0 160px;
    padding: 5px;
    text-align: center;
  }

  h1 {
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 10px;

    sup {
      background: $super-blue;
      border-radius: 2px;
      color: #fff;
      font-size: 16px;
      margin-left: 5px;
      padding: 2px;
    }
  }

  p {
    animation-duration: 350ms;
    font-size: 16px;
    line-height: 23px;
    margin: 0;
    width: 75%;
  }

  .slide-content-aligner {
    h1 {
      font-size: 34px;
    }

    p {
      margin: 0 auto;
    }
  }

  .onboarding-legal-notice {
    font-size: 12px;
    color: #858585;

    a {
      color: $medium-dark-blue;
      text-decoration: none;
    }
  }

  &:not(.slide-1) h1 {
    opacity: 0;
    transform: translate3d(160px, 0, 0);
    animation: slide-left 500ms forwards $bezier;
  }

  &:not(.slide-1) p {
    opacity: 0;
    transform: translate3d(160px, 0, 0);
    animation: slide-left 600ms forwards $bezier;
  }

  &:not(.slide-1) .slide-image {
    background-color: $super-blue;
  }

  &.slide-1 {
    background: #fff;

    .slide-content {
      justify-content: space-between;
      width: 100%;
    }
  }
}

.slide-1,
.slide-2,
.slide-3,
.slide-4,
.slide-5 {
  display: none;
}

.active-slide-1 .slide-1,
.active-slide-2 .slide-2,
.active-slide-3 .slide-3,
.active-slide-4 .slide-4 {
  display: flex;
}

#slide-status-container {
  @include flex-container(row, center, center);
  padding-top: 15px;
}

.goto-slide {
  background: transparent;
  background-color: $slide-status-color;
  border-radius: 50%;
  border: 0;
  flex: 0 0 9px;
  height: 9px;
  margin: 0 4px;
  opacity: 0.7;
  padding: 0;
  transition: height 100ms $bezier, opacity 100ms $bezier;
}

.goto-slide:hover {
  opacity: 1;
}

.active-slide-1 .goto-slide-1,
.active-slide-2 .goto-slide-2,
.active-slide-3 .goto-slide-3,
.active-slide-4 .goto-slide-4 {
  opacity: 1;
  transform: scale(1.1);
}

%next-prev-button {
  background-color: #f0f0f0;
  border-radius: 50%;
  border: 0;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  display: inline-block;
  height: $next-prev-size;
  margin-top: - $next-prev-size;
  position: absolute;
  text-align: center;
  top: 50%;
  transition: background-color 150ms $bezier, background-size 250ms $bezier;
  width: $next-prev-size;
}

#prev {
  @extend %next-prev-button;
  background-image: url("MOZ_EXTENSION/icons/back.svg");
  left: 50%;
  margin-left: - ($slide-width / 2) - ($next-prev-size / 2);
}

#next,
#done {
  @extend %next-prev-button;
  left: 50%;
  margin-left: ($slide-width / 2) - ($next-prev-size / 2);
}

#prev,
#next,
#done {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 20px 20px;

  &:hover {
    background-color: #fff;
    background-size: 22px 22px;
  }

  &:active {
    background-color: #fff;
    background-size: 24px 24px;
  }
}

#next {
  background-image: url("MOZ_EXTENSION/icons/back.svg");
  transform: rotate(180deg);

  .active-slide-1 & {
    background-image: url("MOZ_EXTENSION/icons/back-highlight.svg");
  }
}

#skip {
  background: none;
  border: 0;
  color: #fff;
  font-size: 16px;
  left: 50%;
  margin-left: - ($slide-width / 2) + 20;
  margin-top: ($slide-height / 2) - 3;
  opacity: 0.7;
  position: absolute;
  top: 50%;
  transition: opacity 100ms $bezier;
  z-index: 10;
}

#skip:hover {
  opacity: 1;
}

.active-slide-1 #prev,
.active-slide-4 #next {
  display: none;
}

#done {
  background-image: url("MOZ_EXTENSION/icons/done.svg");
  display: none;
}

.active-slide-4 #done {
  display: inline-block;
}

/* for smaller screen sizes */
@media screen and (max-width: 768px) {
  .slide {
    height: $slide-height-small;
    width: $slide-width-small;

    .slide-image {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      flex: 0 0 200px;
    }

    .slide-content {
      flex: 0 0 160px;

      h1 {
        font-size: 24px;
      }

      p {
        font-size: 14px;
        line-height: 21px;
        width: 85%;
      }

      .onboarding-legal-notice {
        font-size: 10px;
        line-height: 16px;
      }
    }
  }

  #skip {
    margin-left: - ($slide-width-small / 2) + 20;
    margin-top: ($slide-height-small / 2) - 3;
  }

  #prev {
    margin-left: - ($slide-width-small / 2) - ($next-prev-size / 2);
  }

  #next,
  #done {
    margin-left: ($slide-width-small / 2) - ($next-prev-size / 2);
  }
}
