/*
Common CSS for all panels
Panels should have a structure like:

<body>
  <div class="container">
  </div>
</body>

*/

html, body {
  margin: 0;
  height: 100%;
}

body {
  min-height: 100%;
  /* FIXME: it seems like any font attribute can be set to -moz-use-system-font,
  and then that attribute will inherit from system settings. Maybe we should
  be using it for more than font-family */
  /* FIXME: currently font-family: -moz-use-system-font results in a serif
  font, presumably I'm doing it wrong?
  font-family: -moz-use-system-font;
  */
  font-family: sans-serif;
  font-size: 110%;
  box-sizing: border-box;
  background-color: #faf9fa;
}

button {
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 4px;
  white-space: nowrap;
}

button:hover {
  background-color: #eee;
}

a {
  text-decoration: none;
  color: #339;
}

a:visited {
  color: #339;
}

a:hover {
  text-decoration: underline;
}

input[type=text] {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 1px;
  cursor: pointer;
}

input[type=text]:hover {
  background-color: #ddf;
}

input[type=text]:focus {
  border: 1px solid #999;
  border-radius: 1px;
  cursor: text;
  background-color: #fff;
}

/*

  CSS specific to the pageshot panel

*/

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}

.alpha-badge {
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.add-screen-header {
  margin: 2em;
  margin-bottom: 0.5em;
  text-align: center;
}

.modes-row {
  position: absolute;
  top: 2.25em;
  left: 0.5em;
  right: 0.5em;
  text-align: center;
}

.mode {
  display: inline-block;
  box-sizing: border-box;
  width: 33%;
  height: 2em;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
}

.mode-selected {
  border: 2px solid #67aede;
  background-color: #dcedf6;
}

.clip-selector {
  padding: 0 5px 0 5px;
  font-size: 16px;
  cursor: pointer;
}

.clip-selector:hover {
  background-color: #999;
}

.clip-selector-selected {
  font-weight: bold;
}

.snippets-row {
  position: absolute;
  bottom: 4.5em;
  left: 0px;
  right: 0px;
  text-align: center;
}

.link-row {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2em;
  background-color: #E4E4E4;
  font-size: 15px;
}

.link-row .share-row {
  position: absolute;
  width: 50%;
  top: 8px;
  right: 0px;
}

.link {
  position: absolute;
  width: 50%;
  top: 8px;
  left: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.share-row-container {
  position: absolute;
  top: 2em;
  left: 0px;
  right: 0px;
  height: 1.5em;
  background-color: #E4E4E4;
}

.share-row {
  text-align: center;
}

.share-row a {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.copy {
  width: 6em;
  margin-left: 0.5em;
  position: relative;
  top: -2px;
}

.feedback-row {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 2em;
  font-size: 12px;
  background-color: #eaeaea;
  border-top: 1px solid #ccc;
}

.pageshot-footer {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

.feedback-footer {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  text-align: right;
}

.snippet-container {
  position: absolute;
  top: 6.5em;
  left: 0.5em;
  right: 0.5em;
  bottom: 5.5em;
  overflow: auto;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

img.snippet-image {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 0;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 5px 3px 3px #999;
}

.snippet-text {
  position: absolute;
  top: 4.5em;
  left: 5%;
  width: 90%;
  padding: 6px;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 5px 3px 3px #999;
}

.comment-area {
  position: absolute;
  bottom: 3em;
  left: 0.5em;
  right: 0.5em;
  text-align: center;
}

.comment {
}

.comment-input {
  width: 100%;
  border: 1px solid #666;
  border-radius: 2px;
}

.ps-selected {
  background-color: #f83;
}

.button-row {
  margin: 10px 30px 10px 30px;
}

.button-row button {
  width: 100%;
  display: inline-block;
}

.cancel-row {
  position: absolute;
  bottom: 1em;
  width: 100%;
}

.delete {
  height: 15px;
  width: 15px;
  z-index: 10;
  cursor: pointer;
  position: absolute;
  left: 0.5em;
  top: 7em;
}

/* Recall-related styles: */

ul.recall-list {
  padding: 0px;
  margin: 0px;
  margin-top: 0.125em;
}

ul.recall-list li {
  position: relative;
  list-style: none;
  padding: 0.125em;
  padding-left: 0.5em;
  margin-left: 0.125em;
  margin-right: 0.125em;
  border: 1px solid transparent;
}

ul.recall-list .title {
  width: 80%;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 1.1em;
}

ul.recall-list li:hover {
  background-color: #e0e0e0;
  border: 1px solid #bcbcbc;
  border-radius: 2px;
}

.copier {
  position: absolute;
  top: 2px;
  right: 2px;
  display: inline-block;
  height: 1em;
  width: 4em;
  overflow: hidden;
  cursor: pointer;
  background-image: url(copy.png);
  background-size: 1em;
  background-position: right;
  background-repeat: no-repeat;
}

.title {
  cursor: pointer;
}

.title .empty-favicon, .title .favicon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.title .favicon img {
  width: 16px;
  height: 16px;
}

.see-more-row {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 1em;
  padding: 0.5em;
  border-top: 1px solid black;
  background-color: #dfdfdf;
  text-align: center;
}

.recall-back {
  position: absolute;
  color: blue;
  cursor: pointer;
  top: 0px;
  left: -7px;
  font-size: 12px;
}

.recall-title {
  position: absolute;
  top: 1.5em;
  left: 0.5em;
  right: 0.5em;
  height: 1em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 15px;
}

.recall-url {
  position: absolute;
  top: 4em;
  left: 0.5em;
  right: 0.5em;
  height: 1em;
  font-size: small;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  font-size: 13px;
}

.simplified-instructions {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 0.5em;
  background-color: #E4E4E4;
  text-align: center;
}

.simplified-instructions div {
  margin-bottom: 0.5em;
}

.simplified-link {
  font-size: x-large;
}

.simplified-share-buttons {
  text-align: center;
  padding-top: 8em;
}

.simplified-share-buttons div {
  margin-bottom: 0.5em;
}

.simplified-edit-container {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  text-align: center;
}

.simplified-edit-button {
  width: 10em;
}
