.toolbar-button {
  float: left;
  margin: auto 5px;
}

.panel {
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  background: #fff;
  color: #000;
  padding: 1em;
  text-align: start;
  font-size: 13px;
}

.panel a, .panel a:visited {
  color: #0095dd;
}

.panel a:hover, .panel a:focus {
  text-decoration: none;
}

.avatar-container {
  text-align: center;
  height: 80px;
  width: 80px;
}

.avatar-container img {
  height: 100%;
}

#profile {
  position: fixed;
  z-index: 1;
  width: 250px;
}

.panel .label {
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 8px;
  margin-top: 10px;
}

.panel input[type=text] {
  // FIXME: when 100%, it goes over the padding of the .panel, making it not
  // be centered
  width: 95%;
  font-size: 13px;
}

.sync-buttons {
  list-style: none;
  padding-left: 0;
}
