@import "partials/partials";

.close-preferences {
  @include flex-container(row, flex-start, stretch);
  background-image: url("../img/close-16.svg");
  background-size: $grid-unit $grid-unit;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  inset-inline-end: 0;
  top: 0;

  &:hover {
    background-color: $light-hover;
  }

  &:active {
    background-color: $light-active;
  }
}

.header {
  color: #0c0c0d;
  font-size: 22px;
}

#settings-header {
  margin: 40px auto 15px;
  position: relative;

  @include respond-to("small") {
    width: 480px;
  }

  @include respond-to("medium") {
    width: 720px;
  }

  @include respond-to("large") {
    width: 960px;
  }
}

.sub-header {
  color: #0c0c0d;
  font-size: 17px;
  opacity: 0.86;
  font-weight: bold;
  letter-spacing: -0.31px;
}

.preferences {

  @include respond-to("small") {
    width: 480px;
  }

  @include respond-to("medium") {
    width: 720px;
  }

  @include respond-to("large") {
    width: 960px;
  }

  margin: auto;
  padding: 40px 20px 0 20px;

  .info-container {
    margin-inline-start: 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e5e5e5;
    margin: auto;
    padding: 0;
  }

  .account-info {
    @include flex-container(row, start, center);
  }

  .title {
    font-weight: 500;
    font-size: 17px;
    color: #0c0c0d;
    margin: 0;
  }

  .info {
    font-size: 15px;
    color: #0c0c0d;
    margin-top: 5px;
  }

  .sub-info {
    color: $gray;
    font-size: 13px;
    max-width: 400px;
    margin-top: 15px;
  }

  .email {
    margin-top: -20px;
    font-size: 14.6px;
    color: #383e49;
  }

  .account-buttons {
    box-sizing: border-box;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0c0c0d;
    text-decoration: none;
    border: 1px solid rgba(12, 12, 13, 0.3);
    border-radius: 2px;
    width: 150px;
    height: 30px;
    cursor: pointer;

    &:hover {
      background-color: $light-hover;
    }

    &:active {
      background-color: $light-active;
    }
  }
}
