@import "partials/partials";

.close-preferences {
  @include flex-container(row, flex-start, stretch);
  background-image: url("../img/close-16.svg");
  background-size: $grid-unit $grid-unit;
  background-repeat: no-repeat;
  background-position: center center;

  &:hover {
    background-color: $light-hover;
  }

  &:active {
    background-color: $light-active;
  }
}

.header {
  color: #0c0c0d;
  font-size: 22px;
}

#settings-header {
  align-items: flex-end;
  display: flex;
  height: 72px;
  justify-content: flex-end;
  margin: 0 auto;

  @include respond-to("small") {
    width: 380px;
  }

  @include respond-to("medium") {
    width: 720px;
  }

  @include respond-to("large") {
    width: 960px;
  }
}

.sub-header {
  color: #0c0c0d;
  font-size: 17px;
  opacity: 0.86;
  font-weight: bold;
  letter-spacing: -0.31px;
}

.preferences {
  margin: auto;
  padding: 20px 20px 0 20px;

  @include respond-to("small") {
    width: 380px;
    padding: 40px 0;
  }

  @include respond-to("medium") {
    width: 720px;
  }

  @include respond-to("large") {
    width: 960px;
  }

  .info-container {
    margin-inline-start: 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e5e5e5;
    margin: auto;
    padding: 0;
  }

  .account-info {
    @include flex-container(row, start, center);

    img {
      border-radius: 50%;
      box-shadow: $small-box-shadow;
      overflow: hidden;
    }
  }

  .title {
    font-weight: 500;
    font-size: 17px;
    color: #0c0c0d;
    margin: 0 0 10px;
  }

  .info {
    font-size: 15px;
    color: #0c0c0d;
    margin-top: 5px;
  }

  .sub-info {
    color: $gray;
    font-size: 13px;
    max-width: 400px;
    margin-top: 15px;
  }

  .email {
    margin-top: -20px;
    font-size: 14.6px;
    color: #383e49;
  }

  .account-buttons {
    box-sizing: border-box;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0c0c0d;
    text-decoration: none;
    border: 1px solid rgba(12, 12, 13, 0.3);
    border-radius: 2px;
    width: 150px;
    height: 30px;
    cursor: pointer;

    &:hover {
      background-color: $light-hover;
    }

    &:active {
      background-color: $light-active;
    }
  }

  .settingsBody {
    @include flex-container(row, flex-start, stretch, wrap);
  }

  .fxaSyncImage {
    background-image: url("../img/fxa-sync.svg");
    background-repeat: no-repeat;
    background-size: 410px auto;
    background-position: center center;
    margin-top: $grid-unit;
    min-width: 410px;
    height: 300px;

    @include respond-to("small") {
      min-width: 380px;
      background-size: 380px auto;
    }

    @include respond-to("large") {
      margin-left: $grid-unit * 4;
    }
  }
}
