@import "partials/partials";

//Shot index page styles

#shot-index-page {
  background: $light-default;
}

#shot-index-header,
#shot-index {

  @include respond-to("small") {
    width: 480px;
  }

  @include respond-to("medium") {
    width: 720px;
  }

  @include respond-to("large") {
    width: 960px;
  }
}

#shot-index-header {
  @include respond-to("small") {
    @include flex-container(column, flex-start, center);
  }

  @include respond-to("medium") {
    @include flex-container(row, center, center);
  }

  @include respond-to("large") {
    @include flex-container(row, center, center);
  }

  margin: 40px auto 15px;
  position: relative;

  form {
    @include respond-to("small") {
      position: relative;

      input[type="search"] {
        margin: 20px 0 10px;
        width: 320px;
      }
    }

    @include flex-container(row, flex-start, stretch);
    position: absolute;
    right: 0;

    .clear-search {
      width: 28px;
      height: 28px;
      background: transparent;
      border: 0;
      background-image: url("../img/icon-clear.svg");
      background-size: 12px 12px;
      background-repeat: no-repeat;
      background-position: center top 5px;
      position: absolute;
      right: 0;
      opacity: 0;
      transition: opacity $bezier 150ms;
    }
  }

  input[type="search"] {
    background: transparent;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border: 0;
    border-bottom: 1px solid $link-medium;
    font-size: 16px;
    padding: 0 28px 8px 24px;
    transition: border-color $bezier 150ms;
    width: 210px;

    &:focus {
      border-bottom-color: $link-blue;

      + .clear-search {
        opacity: 0.5;
      }
    }
  }

  button[title="search"] {
    display: none;
  }
}

h1 {
  background-image: url("../img/new-scissors-icon.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 25px auto;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 0 32px;
  text-align: center;

  .default-color-scheme & a {
    color: $dark-default;
  }

  sup {
    background: $active-blue;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    padding: 2px 4px;
    text-transform: uppercase;
  }
}

#shot-index {
  @include flex-container(column, flex-start, stretch);
  margin: 0 auto;
}

.masonry-wrapper {
  opacity: 0;
  transition: opacity 500ms $bezier;
}

.shot {
  background: $white;
  box-shadow: 0 0  0 1px rgba(0, 0, 0, 0.05);
  margin: 15px;
  transition: box-shadow 250ms $bezier;
  width: 210px;

  .share-panel {
    left: 0;
    top: 72px;
  }

  .alt-actions-container {
    @include flex-container(row, space-around, center);
    padding: 12px;
    position: absolute;
    bottom: 0;
    height: 69px;
    left: 0;
    right: 0;
    background: $white;
    opacity: 0;
  }

  &:hover,
  &.panel-open {
    box-shadow: 0 0 0 5px $light-border;

    .alt-actions-container {
      opacity: 1;
    }
  }

  .shot-image-container {
    background-size: cover;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
  }

  &.square .shot-image-container {
    height: 210px;
  }

  &.portrait .shot-image-container {
    height: 280px;
  }

  &.landscape .shot-image-container {
    height: 140px;
  }

  &.deleted {
    opacity: 0;
    transform: scale(0.5);
    transition: transform 500ms $bezier, opacity 500ms $bezier;

  }

  .title-container {
    overflow: hidden;
    margin: 0 0 10px;
  }

  h4 {
    font-size: 15px;
    overflow: hidden;
    margin: 0;
    font-weight: 400;
    color: $dark-default;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .link-container {
    @include flex-container(row, flex-start, center);

    // TODO: investigate favicons not appearing on dev, stage and prod
    .favicon {
      background-size: 16px 16px;
      display: none;
      flex: 0 0 16px;
      height: 16px;
      margin-right: 6px;
    }

    .shot-url {
      color: $link-medium;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .shot-info {
    height: 45px;
    margin: 12px;
  }
}

.preferences {
  @include flex-container(row, flex-start, stretch);
  background-size: $grid-unit $grid-unit;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/preferences-16.svg");
  position: absolute;
  right: 0;
}

.no-shots {
  @include flex-container(column, center, center);
  flex: 1;

  p {
    margin: 0;
    text-align: center;
  }
}
