@import "partials/partials";

//Shot index page styles

#shot-index-header,
#shot-index {

  @include respond-to("small") {
    width: 480px;
  }

  @include respond-to("medium") {
    width: 720px;
  }

  @include respond-to("large") {
    width: 960px;
  }
}

#shot-index-header {
  @include flex-container(row, center, center);
  margin: 40px auto 15px;
  position: relative;

  form {
    position: absolute;
    right: 0;
  }
}

h1 {
  background-image: url("../img/new-scissors-icon.svg");
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 25px auto;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
  padding: 0 0 0 32px;
  text-align: center;

  .default-color-scheme & a {
    color: $dark-default;
  }

  sup {
    background: $active-blue;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    padding: 2px 4px;
    text-transform: uppercase;
  }
}

#shot-index {
  margin: 0 auto;
  opacity: 0;
  transition: opacity 500ms $bezier;
}

.shot {
  background: $white;
  box-shadow: 0 0  0 1px rgba(0, 0, 0, 0.05);
  margin: 15px;
  transition: box-shadow 250ms $bezier;
  width: 210px;

  &:hover {
    box-shadow: 0 0 0 5px $light-border;
  }

  .shot-image-container {
    background-size: cover;
  }

  &.square .shot-image-container {
    height: 210px;
  }

  &.portrait .shot-image-container {
    height: 280px;
  }

  &.landscape .shot-image-container {
    height: 140px;
  }

  .title-container {
    overflow: hidden;
    margin: 10px;
  }

  h4 {
    font-size: 15px;
    overflow: hidden;
    margin: 0;
    font-weight: 400;
    color: $dark-default;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .link-container {
    @include flex-container(row, flex-start, center);
    padding: 0 10px 10px;


    .favicon {
      flex: 0 0 16px;
      height: 16px;
      margin-right: 6px;
      background-size: 16px 16px;
    }

    .shot-url {
      color: $link-medium;
      font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

}
