@import "partials/partials";
@import "partials/delete-confirmation";

$shot-width: 210px;

//Shot index page styles

#search-form {
  @include flex-container(row, flex-start, stretch);
  position: absolute;
  inset-inline-end: 150px;
  top: 40px;

  @include respond-to("small") {
    inset-inline-end: 100px;
    top: 60px;
  }

  .clear-search {
    width: 28px;
    height: 28px;
    background: transparent;
    border: 0;
    background-image: url("../img/icon-clear.svg");
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center top 5px;
    position: absolute;
    inset-inline-end: 0;
    opacity: 0;
    transition: opacity $bezier 150ms;
  }

  input[type="search"] {
    background: transparent;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    border: 0;
    border-bottom: 1px solid $link-medium;
    font-size: 16px;
    padding-top: 0;
    padding-inline-end: 28px;
    padding-bottom: 8px;
    padding-inline-start: 24px;
    transition: border-color $bezier 150ms;
    width: $shot-width;

    &:focus {
      border-bottom-color: $link-blue;

      + .clear-search {
        opacity: 0.5;
      }
    }
  }

  button[title="search"] {
    display: none;
  }
}

#shot-index {
  @include flex-container(column, flex-start, stretch);

  @include respond-to("small") {
    width: 240px;
  }

  @include respond-to("medium") {
    width: 720px;
  }

  @include respond-to("large") {
    width: 960px;
  }

  margin: 24px auto;
}

.shot {
  background: $white;
  box-shadow: $medium-box-shadow;
  margin: 15px;
  transition: box-shadow 250ms $bezier;
  width: $shot-width;

  .share-panel {
    inset-inline-start: 0;
    top: 72px;
  }

  .alt-actions-container {
    @include flex-container(row, space-around, center);
    padding: 12px;
    position: absolute;
    bottom: 0;
    height: 69px;
    inset-inline-start: 0;
    inset-inline-end: 0;
    background: $white;
    opacity: 0;
  }

  &:hover,
  &.panel-open {
    box-shadow: 0 0 0 5px $light-active;

    .alt-actions-container {
      opacity: 1;
    }

    .non-fav-shot {
      display: block;
    }
  }

  .shot-image-container {
    background-size: cover;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05) inset;
    width: $shot-width;
    overflow: hidden;
  }

  &.landscape {
    .shot-image-container {
      height: 140px;
      img {
        height: 140px;
      }
    }

    .synced-shot {
      top: 120px;
    }
  }

  &.portrait {
    .shot-image-container {
      height: 280px;
      img {
        width: 210px;
      }
    }

    .synced-shot {
      top: 260px;
    }
  }

  &.square-x {
    .shot-image-container {
      height: 210px;
      img {
        width: 210px;
      }
    }

    .synced-shot {
      top: 190px;
    }
  }
  &.square-y {
    .shot-image-container {
      height: 210px;
      img {
        height: 210px;
      }
    }

    .synced-shot {
      top: 190px;
    }
  }

  &.deleted {
    opacity: 0;
    transform: scale(0.5);
    transition: transform 500ms $bezier, opacity 500ms $bezier;

  }

  .title-container {
    overflow: hidden;
    margin: 0 0 10px;
  }

  h4 {
    font-size: 15px;
    overflow: hidden;
    margin: 0;
    font-weight: 400;
    color: $dark-default;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 172px;
  }

  .link-container {
    @include flex-container(row, flex-start, center);

    .shot-url {
      color: $link-medium;
      font-size: 12px;
      max-width: 165px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .shot-info {
    height: 45px;
    margin: 12px;
  }

  .indicator {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: $white;
    background-position: center;
    background-repeat: no-repeat;
    &:hover {
      background-color: $light-hover;
    }
    &:active {
      background-color: $light-active;
    }
  }

  .fav-shot,
  .non-fav-shot {
    cursor: pointer;
    inset-inline-end: 12px;
    top: 12px;
    background-size: 20px 20px;
  }

  .fav-shot {
    background-image: url("../img/icon-heart.svg");
    &.inactive {
      cursor: default;
      opacity: 0.4;
    }
  }

  .non-fav-shot {
    display: none;
    background-image: url("../img/icon-heart-outline.svg");
  }

  .synced-shot {
    inset-inline-end: 12px;

    img {
      padding: 8px;
      filter: brightness(2.8);
    }
  }
}

.preferences {
  @include flex-container(row, flex-start, stretch);
  background-size: $grid-unit $grid-unit;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("../img/preferences-16.svg");
  position: absolute;
  inset-inline-end: 0;
  top: 0;

  &:hover {
    background-color: $light-hover;
  }
  &:active {
    background-color: $light-active;
  }
}

.no-shots {
  @include flex-container(column, center, center);
  flex: 1;

  p {
    margin: 0;
    text-align: center;
  }
}

#shot-index-page-navigation {
  font-size: 20px;
  text-align: center;

  #shots-page-number {
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    padding: 0;
  }

  span {
    padding: 10px;
    width: 40px;

    &.shots-page-nav {
      line-height: 0;

      &.disabled {
        opacity: 0.3;
      }

      a {
        border-radius: 3px;
        height: 40px;

        &:hover {
          background-color: #d7d7db;
        }
        &:active {
          background-color: #b1b1b3;
        }
      }

    }

    img {
      width: 20px;
      vertical-align: middle;
    }
  }
}
