$primary-color: #404040;
$text-color: #f2f2f2;
$shadow-color: rgba(0, 0, 0, 0.5);


html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: $primary-color;
  background-image: url("/static/img/bgtexture.png");
  color: $text-color;
  box-sizing: border-box;
}

#container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  text-align: center;
}

#frame {
  border: none;
  margin-top: 500px;
  margin-bottom: 4em;
  box-shadow: 0 -5px 5px $shadow-color;
}

#toolbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 160px;
  height: 35px;
  padding: 0.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  color: $text-color;
  text-align: left;
  background-color: $primary-color;
  background-image: url("/static/img/bgtexture.png");
}

.navigate-toolbar {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 14px;
  height: 23px;
  background-color: $primary-color;
  background-image: url("/static/img/bgtexture.png");
  width: 160px;
  text-align: right;
  font-size: 12px;
}

.clip-count {
  position: relative;
  bottom: 7px;
  right: 15px;
}

.instructions {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

a, a:visited {
  text-decoration: none;
  color: $text-color;
}

a:hover {
  //text-decoration: underline;
}

#info {
  position: absolute;
  top: 0.5em;
  left: 100px;
  right: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

a#collection-link {
  /* This specific element isn't clear as a link unless we underline */
  text-decoration: underline;
}

a.sitelink, a.sitelink:visited {
}

#comment-container {
  position: fixed;
  width: 500px;
  min-height: 12px;
  padding: 9px;
  top: 40px;
  right: 10px;
  /* Skipping borders for now
  border-bottom: 2px solid #E66000;
  border-right: 2px solid #E66000;
  border-left: 2px solid #E66000; */
  border-radius: 0 0 4px 4px;
  z-index: 100;
  background-color: #00539F;
  cursor: pointer;
}

#comment-editor {
  width: 100%;
  height: 35px;
}

#comment-instructions {
  cursor: pointer;
  font-size: xx-small;
}

#clip {
  cursor: pointer;
  position: relative;
  top: 2px;
}

.snippet-container {
  margin-bottom: 3em;
}

.snippet-container div {
  margin: 3em;
}

.snippet-container a img {
  max-width: 85%;
  border: 1px solid #aaa;
  box-shadow: 0 2px 5px $shadow-color;
}

.text-snippet {
  background-color: white;
  color: black;
  border: 1px solid #aaa;
  box-shadow: 0 2px 5px $shadow-color;
}

.text-snippet a {
  color: black;
}

.clip-anchor-link {
  margin-bottom: 4em;
  font-size: 13px;
  color: #959595;
}

.clip-anchor-link:hover {
  color: $text-color;
}

.selection {
  border-top: 1px solid #999;
}

.goto-selection {
  cursor: pointer;
  float: right;
}

.white-background {
  background-color: white;
  text-color: black;
  text-align: left;
}

.main-link {
}

.main-link img {
  height: 1em;
  position: relative;
  top: 2px;
  left: 2px;
}

.shot-title {
  padding-top: 2px;
  white-space: nowrap;
  /* FIXME: ellipsis doesn't really work, because the end of the title is
  obscured by the clip selector */
  text-overflow: ellipsis;
  overflow: hidden;
}

.shot-subtitle {
  padding-top: 3px;
  font-size: 12px;
  color: #959595;
}

.shot-subtitle .subheading-link {
  font-size: 12px;
}

#main-title {
  margin-top: 2.5em;
  font-size: 24px;
  font-weight: 300;
  color: $text-color;
}

a.subheading-link {
  font-size: 13px;
  color: #0095dd;
}

.metadata {
  margin-bottom: 4em;
}

.pageshot-footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.feedback-footer {
  position: absolute;
  bottom: 1em;
  right: 1em;
  text-align: right;
}

.comment {
}

.comment-bubble {
  cursor: pointer;
  margin-right: 0.5em;
  position: relative;
  top: 18px;
}

.comment-holder {
  //line-height: 36px;
  display: inline-block;
  position: relative;
  top: -3.25em;
  width: 400px;
  background-color: $text-color;
  color: $primary-color;
  border-radius: 4px 4px 4px 4px;
  text-align: left;
}

.comment-holder div {
  margin: 0;
  padding: 15px 20px 15px 20px;
}

.comment-user {
  display: inline-block;
  width: 10em;
}

.comment-date {
  display: inline-block;
  width: 5em;
}

.comment-text {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
}

#use-pageshot-to-create {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 1em;
  background-color: $text-color;
  color: $primary-color;
  z-index: 2000;
  box-shadow: 0 -2px 5px $shadow-color;
}

#use-pageshot-to-create a {
  color: $primary-color;
}

#banner-close {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.navigate-clips {
  background-color: rgba(255, 255, 255, 0.05);
}

/* When the clip navigation buttons are disabled: */
.navigate-clips.disabled {
  opacity: 0.5;
  background-color: inherit;
}
