$primary-color: #fcfcfc;
$toolbar-text-color: #464239;
$text-color: #f2f2f2;
$background-color: #282d33;
$shadow-color: rgba(#000, 0.5);

html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", "helvetica neue", helvetica, ubuntu, roboto, noto, arial, sans-serif;
  background-color: $background-color;
  color: $text-color;
  box-sizing: border-box;
}

#container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  min-height: 100%;
}

#frame {
  border: 0;
  margin-top: 65px;
  margin-bottom: 4em;
  box-shadow: 0 -5px 5px $shadow-color;
}

#toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 35px;
  padding: 15px;
  padding-left: 150px;
  padding-right: 315px;
  /* Causes toolbar to go over comment bubble and other position: relative elements: */
  z-index: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  color: $toolbar-text-color;
  text-align: left;
  background-color: $primary-color;
  box-shadow: 0 1px 2px rgba(#000, 0.5);
}

#private-notice {
  font-size: 14px;
  margin-top: 7px;
  padding: 7px;
  padding-bottom: 1px;
  color: #000;
}

.window-scrolled-down #toolbar {
  visibility: visible;
}

a,
a:visited {
  text-decoration: none;
  color: $text-color;
}

a:hover {
  //text-decoration: underline;
}

.link-button {
  cursor: pointer;
  color: #858585;
  background: transparent;
  border: 1px solid #d4d4d4;
  padding: 4px;
  border-radius: 4px;

  &.delete-button {
    color: #d00;
  }
}

.clip-container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 0;
}

.clip-container div {
  margin: 3em;
}

.clip-container a img {
  max-width: 85%;
  border: 1px solid rgba(#000, 0.5);
  box-shadow: 0 6px 20px $shadow-color;
}

.my-shots-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 66px;
  background: #ebebeb;
  border: 0;
  cursor: pointer;
}

.shot-title {
  padding-top: 2px;
  white-space: nowrap;
  /* FIXME: ellipsis doesn't really work, because the end of the title is
  obscured by the clip selector */
  text-overflow: ellipsis;
  overflow: hidden;
}

.shot-subtitle {
  padding-top: 3px;
  font-size: 12px;
  color: #959595;
}

.shot-subtitle .subheading-link {
  font-size: 12px;
}

.upload-full-page {
  color: #0996f8;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #0996f8;
  height: 32px;
  cursor: pointer;
  vertical-align: middle;
  padding: 6px 15px;
  font-size: 12px;
}

.trash-button {
  margin-left: 15px;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  height: 32px;
  background: transparent;
  color: #000;
  cursor: pointer;
  vertical-align: middle;
  padding: 6px 15px;
  font-size: 12px;
}

.flag-button {
  margin-left: 15px;
  border-radius: 4px;
  border: 1px solid rgba(#000, 0.35);
  height: 32px;
  background: #fcfcfc;
  color: #000;
  cursor: pointer;
  vertical-align: middle;
  padding: 8px 15px;
}

#share-buttons-panel {
  position: fixed;
  top: 75px;
  right: 15px;
  width: 275px;
  z-index: 99;
  border-radius: 4px;
  border: 1px solid rgba(#000, 0.35);
  box-shadow: 0 -2px 5px $shadow-color;
  color: #000;
  background-color: #fff;
  padding: 15px;
  text-align: left;
}

#share-buttons-panel div {
  margin-bottom: 7px;
}

#share-buttons-panel a {
  padding: 7px;
}

#share-buttons {
  display: flex;
  flex-direction: row;
}

#share-buttons a {
  margin: auto;
}

.copy-shot-link-input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 22px;
  width: 170px;
}

.copy-shot-link-button {
  background: #2fa8e1;
  color: #fff;
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid rgba(#000, 0.35);
  height: 28px;
  width: 75px;
  cursor: pointer;
}

.more-shot-actions {
  position: absolute;
  top: 0;
  right: 0;
  height: 33px;
  padding: 15px;
  color: #959595;
  font-size: 12px;
}

#copy-flag {
  background: #f25820;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding: 3px 40px;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5rem;
  width: 100px;
  position: fixed;
  top: 80px;
  left: -60px;
  transform: rotate(-45deg);
  box-shadow: 0 6px 20px rgba(#000, 0.5);
}

a.subheading-link {
  font-size: 13px;
  color: #0095dd;
}

.feedback-footer {
  position: absolute;
  bottom: 1em;
  right: 1em;
  text-align: right;
}

#banner-close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em;
  cursor: pointer;
}

.button {
  // FIXME: copied from panel.scss .simplified-edit-button
  display: inline-block;
  background-color: #5cb85c;
  color: #fff;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #4cae4c;

  &:hover {
    text-decoration: underline;
  }
}


.myshots-button {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  height: 38px;
  width: 130px;
  padding: 0;
  margin: 0;
  padding-right: 15px;
  vertical-align: middle;
  background-image: none;
  font-weight: normal;
  text-transform: none;
  text-indent: 0;
  border-radius: 4px;
  border: 0;
  background: #ddd;
  font-size: 12px;
  color: #333;
  cursor: pointer;
}

.myshots-text-pre {
  display: inline-block;
  /* Data version of static/img/my-shots.svg */
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCFET0NUWVBFIHN2ZyBQVUJMSUMgIi0vL1czQy8vRFREIFNWRyAxLjEvL0VOIiAiaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkIj4KCjwhLS0gVGhpcyBTb3VyY2UgQ29kZSBGb3JtIGlzIHN1YmplY3QgdG8gdGhlIHRlcm1zIG9mIHRoZSBNb3ppbGxhIFB1YmxpYwogICAtIExpY2Vuc2UsIHYuIDIuMC4gSWYgYSBjb3B5IG9mIHRoZSBNUEwgd2FzIG5vdCBkaXN0cmlidXRlZCB3aXRoIHRoaXMKICAgLSBmaWxlLCBZb3UgY2FuIG9idGFpbiBvbmUgYXQgaHR0cDovL21vemlsbGEub3JnL01QTC8yLjAvLiAtLT4KCjxzdmcgdmVyc2lvbj0iMS4xIgogICAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIKICAgICB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIKICAgICB3aWR0aD0iMTYiCiAgICAgaGVpZ2h0PSIxNiIKICAgICB2aWV3Qm94PSIwIDAgMTYgMTYiCiAgICAgZmlsbD0iIzRkNGQ0ZCI+CgogIDxwYXRoIGQ9Ik0xMiwxMiBMMTYsMTIgTDE2LDE0IEMxNiwxNS4xMDQ1Njk1IDE1LjExMjI3MDQsMTYgMTQsMTYgTDEyLDE2IEwxMiwxMiBMMTIsMTIgWiBNNiwxMy4wMDkzNjg5IEM2LDEyLjQ1MTkwOTggNi40NDMzNTMxOCwxMiA3LjAwOTM2ODksMTIgTDguOTkwNjMxMSwxMiBDOS41NDgwOTAxNSwxMiAxMCwxMi40NDMzNTMyIDEwLDEzLjAwOTM2ODkgTDEwLDE0Ljk5MDYzMTEgQzEwLDE1LjU0ODA5MDIgOS41NTY2NDY4MiwxNiA4Ljk5MDYzMTEsMTYgTDcuMDA5MzY4OSwxNiBDNi40NTE5MDk4NSwxNiA2LDE1LjU1NjY0NjggNiwxNC45OTA2MzExIEw2LDEzLjAwOTM2ODkgTDYsMTMuMDA5MzY4OSBaIE0wLDEyIEw0LDEyIEw0LDE2IEwyLDE2IEMwLjg5NTQzMDUsMTYgMCwxNS4xMTIyNzA0IDAsMTQgTDAsMTIgTDAsMTIgWiBNMTIsNiBMMTYsNiBMMTYsMTAgTDEyLDEwIEwxMiw2IEwxMiw2IFogTTYsNiBMMTAsNiBMMTAsMTAgTDYsMTAgTDYsNiBMNiw2IFogTTAsNiBMNCw2IEw0LDEwIEwwLDEwIEwwLDYgTDAsNiBaIE0xMiwwIEwxNCwwIEMxNS4xMDQ1Njk1LDAgMTYsMC44ODc3Mjk2NDUgMTYsMiBMMTYsNCBMMTIsNCBMMTIsMCBMMTIsMCBaIE02LDAgTDEwLDAgTDEwLDQgTDYsNCBMNiwwIEw2LDAgWiBNMCwyIEMwLDAuODk1NDMwNSAwLjg4NzcyOTY0NSwwIDIsMCBMNCwwIEw0LDQgTDAsNCBMMCwyIEwwLDIgWiIvPgoKPC9zdmc+Cg==");
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.myshots-text {
  padding: 10px;
  vertical-align: middle;
}

.myshots-text-post {
  display: inline-block;
  /* Data version of static/img/arrow-right.svg */
  background-image: url("data:image/svg+xml;base64,PCEtLSBUaGlzIFNvdXJjZSBDb2RlIEZvcm0gaXMgc3ViamVjdCB0byB0aGUgdGVybXMgb2YgdGhlIE1vemlsbGEgUHVibGljCiAgIC0gTGljZW5zZSwgdi4gMi4wLiBJZiBhIGNvcHkgb2YgdGhlIE1QTCB3YXMgbm90IGRpc3RyaWJ1dGVkIHdpdGggdGhpcwogICAtIGZpbGUsIFlvdSBjYW4gb2J0YWluIG9uZSBhdCBodHRwOi8vbW96aWxsYS5vcmcvTVBMLzIuMC8uIC0tPgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjhweCIgaGVpZ2h0PSIxNHB4IiB2aWV3Qm94PSIwIDAgOCAxNCI+CiAgPHBhdGggZmlsbD0iI2IxYjFiMSIgZD0ibTcuOTg2NzksMTMuMDEzMjFsLTAuOTkxMTksMC45OTEybC02Ljk5NTYsLTYuOTk1Nmw3LjAwODgxLC03LjAwODgxbDAuOTkxMTksMC45OTExOWwtNi4wMTc2MSw2LjAxNzYybDYuMDA0NCw2LjAwNDR6IiB0cmFuc2Zvcm09InJvdGF0ZSgtMTgwLCA0LCA3KSIvPgo8L3N2Zz4K");
  background-size: 8px 14px;
  width: 8px;
  height: 14px;
  vertical-align: middle;
}
