

$primary-color: #fcfcfc;
$toolbar-text-color: #464239;
$text-color: #f2f2f2;
$background-color: #282d33;
$shadow-color: rgba(0, 0, 0, 0.5);


html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: $background-color;
  background-image: url("/static/img/bgtexture.png");
  color: $text-color;
  box-sizing: border-box;
}

body.shot-index {
  background-color: #eee;
}

#container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

#frame {
  border: none;
  margin-top: 65px;
  margin-bottom: 4em;
  box-shadow: 0 -5px 5px $shadow-color;
}

#toolbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 35px;
  padding: 15px;
  padding-left: 150px;
  padding-right: 315px;
  /* Causes toolbar to go over comment bubble and other position: relative elements: */
  z-index: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  color: $toolbar-text-color;
  text-align: left;
  background-color: $primary-color;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#private-notice {
  position: fixed;
  right: 75px;
  top: 75px;
  font-family: sans-serif;
  font-size: 11px;
  border-radius: 4px;
  padding: 7px;
  background-color: yellow;
  color: black;
  cursor: pointer;
}

.window-scrolled-down #toolbar {
  visibility: visible;
}

.window-scrolled-fully #toolbar {
  visibility: visible;
}

#profile-widget {
  position: fixed;
  top: 15px;
  left: 15px;
  z-index: 2;
}

#navigate-toolbar {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 14px;
  z-index: 2;
  height: 23px;
  width: 160px;
  text-align: right;
  text-shadow: 1px 1px 2px black;
  font-size: 12px;
}

#full-page-button {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 2em;
  text-align: center;
  z-index: 1001;
}

.window-scrolled-fully #full-page-button {
  visibility: hidden;
}

#full-screen-thumbnail {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 2em;
  text-align: center;
  z-index: 1001;
}

#full-screen-thumbnail img {
  box-shadow: 0 2px 5px $shadow-color;
  cursor: pointer;
}

#full-page-button-scrollable {
  visibility: hidden;
  height: 2em;
  margin-top: 500px;
  text-align: center;
}

.window-scrolled-fully #full-page-button-scrollable {
  visibility: visible;
}

.full-page-button-arrow {
  color: #333333;
}

.full-page-button-text {
  color: #000000;
}

.full-page-button-styles {
  background-color: #ffffff;
  background-image: linear-gradient(#ffffff, #f4f4f4);
  border-radius: 99px;
  color: #0095dd;
  display: inline-block;
  font-size: 12px;
  padding: .4em 1.5em;
  text-decoration: none;
  border: 1px solid #ababab;
}
.clip-count {
  position: relative;
  bottom: 7px;
  right: 15px;
}

.instructions {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

a, a:visited {
  text-decoration: none;
  color: $text-color;
}

a:hover {
  //text-decoration: underline;
}

.link-button {
  cursor: pointer;
  color: #858585;
  background: transparent;
  border: 1px solid #d4d4d4;
  padding-left: 4px;
  &.delete-button {
    color: #dd0000;
  }
}


#info {
  position: absolute;
  top: 0.5em;
  left: 100px;
  right: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

a#collection-link {
  /* This specific element isn't clear as a link unless we underline */
  text-decoration: underline;
}

a.sitelink, a.sitelink:visited {
}

#comment-container {
  position: fixed;
  width: 500px;
  min-height: 12px;
  padding: 9px;
  top: 40px;
  right: 10px;
  /* Skipping borders for now
  border-bottom: 2px solid #E66000;
  border-right: 2px solid #E66000;
  border-left: 2px solid #E66000; */
  border-radius: 0 0 4px 4px;
  z-index: 100;
  background-color: #00539F;
  cursor: pointer;
}

#comment-editor {
  width: 100%;
  height: 35px;
}

#comment-instructions {
  cursor: pointer;
  font-size: xx-small;
}

#clip {
  cursor: pointer;
  position: relative;
  top: 2px;
}

.clip-container {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding-top: 0px;
  background-color: rgba(0, 0, 0, 0.80);
}

.clip-container div {
  margin: 3em;
}

.clip-container a img {
  max-width: 85%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 6px 20px $shadow-color;
}

.text-clip {
  background-color: white;
  color: black;
  border: 1px solid #aaa;
  box-shadow: 0 2px 5px $shadow-color;
}

.text-clip a {
  color: black;
}

.clip-anchor-link {
  margin-bottom: 4em;
  font-size: 13px;
  color: #959595;
}

.clip-anchor-link:hover {
  color: $text-color;
}

.selection {
  border-top: 1px solid #999;
}

.goto-selection {
  cursor: pointer;
  float: right;
}

.white-background {
  background-color: white;
  color: black;
  text-align: left;
}

.main-link {
}

.main-link img {
  height: 1em;
  position: relative;
  top: 2px;
  left: 2px;
}

.my-shots-button {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 125px;
  height: 66px;
  background: #ebebeb;
  border: none;
  cursor: pointer;
}

.shot-title {
  padding-top: 2px;
  white-space: nowrap;
  /* FIXME: ellipsis doesn't really work, because the end of the title is
  obscured by the clip selector */
  text-overflow: ellipsis;
  overflow: hidden;
}

.shot-subtitle {
  padding-top: 3px;
  font-size: 12px;
  color: #959595;
}

.shot-subtitle .subheading-link {
  font-size: 12px;
}

.upload-full-page {
  color: #0996f8;
  background: transparent;
  border-radius: 4px;
  border: 1px solid #0996f8;
  height: 32px;
  cursor: pointer;
  vertical-align: middle;
  padding: 6px 15px;
  font-size: 12px;
}

#full-page-checkbox {
  visibility: hidden;
}

.share-button {
  margin-left: 15px;
  background: #0996f8;
  color: white;
  border-radius: 4px;
  border: 1px solid #0675d3;
  height: 32px;
  cursor: pointer;
  vertical-align: middle;
  padding: 6px 15px;
  font-size: 12px;
}

.trash-button {
  margin-left: 15px;
  border-radius: 4px;
  border: 1px solid #d4d4d4;
  height: 32px;
  background: transparent;
  color: black;
  cursor: pointer;
  vertical-align: middle;
  padding: 6px 15px;
  font-size: 12px;
}

.flag-button {
  margin-left: 15px;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.35);
  height: 32px;
  background: #fcfcfc;
  color: black;
  cursor: pointer;
  vertical-align: middle;
  padding: 8px 15px;
}

#share-buttons-panel {
  position: fixed;
  top: 75px;
  right: 15px;
  z-index: 99;
  border-radius: 4px;
  border: 1px solid rgba(0,0,0,.35);
  box-shadow: 0 -2px 5px $shadow-color;
  color: black;
  background-color: white;
  padding: 15px;
  text-align: left;
}

#share-buttons-panel div {
  margin-bottom: 7px;
}

#share-buttons-panel a {
  padding: 7px;
}

#share-buttons {
  display: flex;
  flex-direction: row;
}

#share-buttons a {
  margin: auto;
}

.copy-shot-link-input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 22px;
  width: 170px;
}

.copy-shot-link-button {
  background: #2fa8e1;
  color: white;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid rgba(0,0,0,.35);
  height: 28px;
  width: 75px;
  cursor: pointer;
}

.more-shot-actions {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 33px;
  padding: 15px;
  color: #959595;
  font-size: 12px;
}

#more-shot-actions-menu {
  margin-left: 15px;
}

#main-title {
  font-size: 24px;
  font-weight: 300;
  color: $text-color;
}

a.subheading-link {
  font-size: 13px;
  color: #0095dd;
}

.metadata {
  margin-bottom: 4em;
}

.pageshot-footer {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

.feedback-footer {
  position: absolute;
  bottom: 1em;
  right: 1em;
  text-align: right;
}

.comment {
}

.comment-bubble {
  cursor: pointer;
  margin-right: 0.5em;
  position: relative;
  top: 19px;
}

.comment-holder {
  //line-height: 36px;
  display: inline-block;
  position: relative;
  top: -3.25em;
  width: 400px;
  background-color: $text-color;
  color: $primary-color;
  border-radius: 4px 4px 4px 4px;
  text-align: left;
}

.comment-holder div {
  margin: 0;
  padding: 15px 20px 15px 20px;
}

.comment-user {
  display: inline-block;
  width: 10em;
}

.comment-date {
  display: inline-block;
  width: 5em;
}

.comment-text {
  display: inline-block;
  font-size: 13px;
  line-height: 18px;
}

#use-pageshot-to-create {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 1em;
  padding-right: 3em;
  background-color: $text-color;
  color: $primary-color;
  z-index: 2000;
  box-shadow: 0 -2px 5px $shadow-color;
}

#use-pageshot-to-create a {
  color: $primary-color;
}

#banner-close {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 1em;
  cursor: pointer;
}

.navigate-clips {
  background-color: rgba(255, 255, 255, 0.05);
}

/* When the clip navigation buttons are disabled: */
.navigate-clips.disabled {
  opacity: 0.5;
  background-color: inherit;
}

/* Exporter styles */

.button {
  // FIXME: copied from panel.scss .simplified-edit-button
  display: inline-block;
  background-color: #5CB85C;
  color: #fff;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 6px;
  border: 1px solid #4CAE4C;

  &:hover {
    text-decoration: underline;
  }
}

/* Shot index page styles */

#shot-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;

  .shot-background {
    position: absolute;
    height: 200px;
    width: 200px;
    z-index: -1;
    overflow: hidden;
    border-radius: 2px;
    background-size: cover;
    background-position: center;
  }

  .shot {
    padding: 0;
    box-shadow: 0 -2px 5px $shadow-color;
    width: 280px;
    height: 280px + 95px;
    margin: 30px;
    background-color: #fff;
  }

  .shot-text {
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    height: 100%;
  }

  .shot-footer {
    text-align: center;
    font-size: 13px;
  }

  .title-container {
    height: 80%;
  }

  div.favicon {
    background-size: cover;
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-right: 4px;
    vertical-align: -4px;
  }

  h2 {
    a {
      color: #fff;
    }
    padding: 5px;
    font-size: 16px;
    margin: 0px 0px 3px 0px;
  }
}

.intro-js-highlight-overlay {
  background: rgba(0,0,0,0);
  border: 2px solid rgba(0, 137, 219, 1);
}
