.loader {
  background: rgba(12, 12, 13, 0.2);
  border-radius: 2px;
  height: 4px;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.loader-inner {
  animation: bounce infinite alternate 1250ms cubic-bezier(0.7, 0, 0.3, 1);
  background: $active-blue;
  border-radius: 2px;
  height: 4px;
  transform: translateX(-40px);
  width: 50px;
}

@keyframes bounce {
  0% {
    transform: translateX(-40px);
  }

  100% {
    transform: translate(190px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  97% {
    transform: scale(1.04);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }

  70% {
    opacity: 0.25;
    transform: scale(1.04);
  }

  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}

@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate3d(160px, 0, 0); // FIXME: RTL
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  60% {
    opacity: 1;
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}
