.spinner {
  animation: wobble 1.2s steps(60) infinite;
  background: url("../images/loading.svg") no-repeat;
  height: 60px;
  opacity: .5;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  width: 217px;
}

.spinner-wrapper {
  animation: fade-in 1s forwards;
  animation-delay: 250ms;
  opacity: 0;
}

@keyframes wobble {
  100% {
    background-position: -13020px 0;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  97% {
    transform: scale(1.04);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    opacity: .3;
    transform: scale(1);
  }

  70% {
    opacity: .25;
    transform: scale(1.04);
  }

  100% {
    opacity: .3;
    transform: scale(1);
  }
}

@keyframes slide-left {
 0% {
  opacity: 0;
  transform: translate3d(160px, 0, 0);
 }

 100% {
  opacity: 1;
  transform: translate3d(0, 0, 0);
 }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  60% {
    opacity: 1;
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}
