@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  97% {
    transform: scale(1.04);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    opacity: .3;
    transform: scale(1);
  }

  70% {
    opacity: .25;
    transform: scale(1.04);
  }

  100% {
    opacity: .3;
    transform: scale(1);
  }
}

@keyframes slide-left {
 0% {
  opacity: 0;
  transform: translate3d(160px, 0, 0);
 }

 100% {
  opacity: 1;
  transform: translate3d(0, 0, 0);
 }
}

@keyframes bounce-in {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  97% {
    opacity: 1;
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}
