html {
  box-sizing: border-box;
}

*,
*:before,

*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}
