html {
  box-sizing: border-box;
}

*,
*:before,

*:after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
}

a {
  color: $link-blue;
  text-decoration: none;
}

p,
ul,
ol,
blockquote {
  line-height: 1.44em;
}
