.button {
  @include flex-container(row, center, center);
  border: 0;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  min-width: 40px;
  outline: none;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 150ms $bezier, border 150ms $bezier;
  user-select: none;
  white-space: nowrap;

  &.hidden {
    display: none;
  }

  &.small {
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
  }

  &.active {
    background-color: $light-active;
  }

  &.tiny {
    font-size: 14px;
    height: 26px;
    border: 1px solid $light-border;

    &:hover,
    &:focus {
      background: $light-hover;
      border-color: $light-border-active;
    }

    &:active {
      background: $light-active;
      border-color: $light-border-active;
    }
  }

  &.block-button {

    @include respond-to("small") {
      justify-content: flex-start;
      font-size: 16px;
      height: 72px;
      margin-right: 10px;
      padding: 0 5px;
    }

    @include flex-container(row, center, center);
    box-sizing: border-box;
    border: 0;
    border-right: 1px solid $light-border;
    box-shadow: 0;
    border-radius: 0;
    flex-shrink: 0;
    font-size: 20px;
    height: 100px;
    line-height: 100%;
    overflow: hidden;

    &:hover {
      background: $light-hover;
    }

    &:active {
      background: $light-active;
    }
  }

  &.download,
  &.edit,
  &.trash,
  &.share,
  &.flag {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    margin-right: $grid-unit * 0.5;
    transition: background-color 150ms $bezier;
  }

  &.download {
    background-image: url("../img/icon-download.svg");
    &:hover {
      background-color: $light-hover;
    }

    &:active {
      background-color: $light-active;
    }
  }

  &.share {
    background-image: url("../img/icon-share.svg");
    &:hover {
      background-color: $light-hover;
    }

    &.active,
    &:active {
      background-color: $light-active;
    }
  }

  &.share.newicon {
    background-image: url("../img/icon-share-alternate.svg");
  }

  &.trash {
    background-image: url("../img/icon-trash.svg");
    &:hover {
      background-color: $light-hover;
    }

    &:active {
      background-color: $light-active;
    }
  }

  &.edit {
    background-image: url("../img/icon-edit.svg");
    &:hover {
      background-color: $light-hover;
    }

    &:active {
      background-color: $light-active;
    }
  }
}
