.button {
  @include flex-container(row, center, center);
  border: 0;
  border-radius: $border-radius;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  height: 40px;
  min-width: 40px;
  outline: none;
  padding: 0 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background 150ms $bezier, border 150ms $bezier;
  user-select: none;
  white-space: nowrap;

  &.small {
    height: 32px;
    line-height: 32px;
    padding: 0 8px;
  }

  &.tiny {
    font-size: 14px;
    height: 26px;
    border: 1px solid $light-border;

    &:hover,
    &:focus {
      background: $light-hover;
      border-color: $light-border-active;
    }

    &:active {
      background: $light-active;
      border-color: $light-border-active;
    }
  }

  &.block-button {

    @include respond-to("small") {
      justify-content: flex-start;
      font-size: 16px;
      height: 72px;
      margin-right: 10px;
      padding: 0 5px;
    }

    @include flex-container(row, center, center);
    box-sizing: border-box;
    border: 0;
    border-right: 1px solid $light-border;
    box-shadow: 0;
    border-radius: 0;
    flex-shrink: 0;
    font-size: 20px;
    height: 100px;
    line-height: 100%;
    overflow: hidden;

    &:hover {
      background: $light-hover;
    }

    &:active {
      background: $light-active;
    }
  }

  &.download,
  &.trash,
  &.share,
  &.flag {
    background-image: url("../img/icon-sprite.svg");
    background-size: $grid-unit * 24 $grid-unit * 2;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-right: $grid-unit * 0.5;
    transition: background-color 150ms $bezier;
  }

  &.download {
    &:hover {
      background-position: -2 * $grid-unit 0;
    }

    &:active {
      background-position: -4 * $grid-unit 0;
    }
  }

  &.share {
    background-position: -6 * $grid-unit 0;

    &:hover {
      background-position: -8 * $grid-unit 0;
    }

    &:active,
    &.active {
      background-position: -10 * $grid-unit 0;
    }
  }

  &.trash {
    background-position: -12 * $grid-unit 0;

    &:hover {
      background-position: -14 * $grid-unit 0;
    }

    &:active {
      background-position: -16 * $grid-unit 0;
    }
  }

  &.flag {
    background-position: -18 * $grid-unit 0;

    &:hover {
      background-position: -20 * $grid-unit 0;
    }

    &:active {
      background-position: -22 * $grid-unit 0;
    }
  }
}
