.delete-shot-button {
  position: relative;
  .icon-trash {
    z-index: 1;
     img {
       width: 20px;
       height: 20px;
     }
  }
}

.delete-confirmation-dialog {
  background-color: $white;
  border: 1px solid $light-border;
  border-radius: 3px;
  box-shadow: $medium-box-shadow;
  min-height: 114px;
  min-width: 320px;
  padding: 18px;
  position: absolute;
  inset-inline-start: 3px;
  top: 47px;
  z-index: 3;

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-inline-start: 9px solid transparent;
    border-inline-end: 9px solid transparent;
    border-bottom: 15px solid $light-border;
    top: -15px;
    inset-inline-start: 8px;

    .triangle-inner {
      position: absolute;
      width: 0;
      height: 0;
      border-inline-start: 8px solid transparent;
      border-inline-end: 8px solid transparent;
      border-bottom: 13px solid $white;
      inset-inline-start: -8px;
      top: 2px;
    }
  }
  .delete-confirmation-message {
    font-size: 15px;
  }
  .delete-confirmation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;

    button {
      &.warning {
        width: 135px;
        height: 40px;
      }
      &.secondary {
        border: 1px solid #c7c7c7;
        width: 135px;
        height: 40px;
        box-sizing: border-box;
      }
    }
  }

  &.right-align {
    inset-inline-start: -255px;
    .triangle {
      inset-inline-start: 292px;
    }
  }
}
