.delete-shot-button {
  position: relative;
}

.delete-confirmation-dialog {
  background-color: $white;
  border: 1px solid $light-border;
  border-radius: 3px;
  box-shadow: $medium-box-shadow;
  min-height: 114px;
  min-width: 320px;
  padding: 18px;
  position: absolute;
  left: 3px;
  top: 47px;
  z-index: 3;

  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 15px solid $light-border;
    top: -15px;
    left: 8px;

    .triangle-inner {
      position: absolute;
      width: 0;
      height: 0;
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-bottom: 13px solid $white;
      left: -8px;
      top: 2px;
    }
  }
  .delete-confirmation-message {
    font-size: 15px;
  }
  .delete-confirmation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;

    button {
      &.primary {
        width: 135px;
        height: 40px;
      }
      &.secondary {
        border: 1px solid #c7c7c7;
        width: 133px;
        height: 38px;
      }
    }
  }

  &.right-align {
    left: -255px;
    .triangle {
      left: 292px;
    }
  }
}
