.footer {
  
  @include flex-container(column, space-between, flex-start);
  padding: $grid-unit;
  
  @include respond-to("large") {
    flex-direction: row;
    padding: $grid-unit * 1.5;
  }

  .footer-links {
    display: flex;
    list-style: none;
    margin: 0 0;
    
    @include flex-container(column, space-between, stretch);
    padding: 16px 0 0 0;

    @include respond-to("large") {
      flex-direction: row;
      padding: 0 0;
    }
    

    li {
      font-size: 14px;
      margin-inline-end: 16px;

      a {
        color: $gray;
      }
    }
  }

  .mozilla-logo {
    background-image: url("../img/mozilla.svg");
    background-repeat: no-repeat;
    background-size: auto $grid-unit * 1.5;
    display: block;
    height: $grid-unit * 1.5;
    width: $grid-unit * 6;
  }
}
