.footer {
  @include respond-to("small") {
    @include flex-container(column, space-between, flex-start);
  }

  @include flex-container(row, space-between, center);
  padding: $grid-unit * 1.5;

  .footer-links {
    display: flex;
    list-style: none;
    margin: 0 0;
    padding: 0 0;

    @include respond-to("small") {
      @include flex-container(column, space-between, stretch);
    }

    li {
      font-size: 14px;
      margin-right: 16px;

      a {
        color: $gray;
      }
    }
  }

  .mozilla-logo {
    background-image: url("../img/mozilla.svg");
    background-repeat: no-repeat;
    background-size: auto $grid-unit * 1.5;
    display: block;
    height: $grid-unit * 1.5;
    width: $grid-unit * 6;
  }
}
