.header {
  @include flex-container(row, space-between, center);
  background: $header-background-color;
  border-bottom: solid 1px #dfe0e1;
  box-shadow: 0 4px 2px -3px rgba(#000, 0.05);
  height: 50px;
  margin-bottom: $base-gutter * 2;
  min-width: $base-gutter * 20;
  padding: 0 20px;
  width: 100%;

  h1 {
    background-image: url('../img/pageshot.svg');
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 16px auto;
    font-size: 16px;
    font-weight: normal;
    line-height: 18px;
    margin: 0;
    padding-left: 24px;

    a {
      color: $black;
      transition: color 150ms;
    }
  }
}
