.header-panel {
  @include respond-to("medium") {
    @include flex-container(row, center, center, wrap);
  }

  @include respond-to("small") {
    @include flex-container(row, space-between, center, wrap);
  }

  @include respond-to("large") {
    @include flex-container(row, center, center);
    flex-basis: $grid-unit * 4.8;
  }

  background-color: $light-default;
  display: flex;
  flex-basis: $grid-unit * 6.5;
  height: 100%;
  width: 100%;

  .logo {
    padding: 20px;

    @include respond-to("large") {
      padding: 20px 30px;
    }

    @include respond-to("large") {
      height: $grid-unit * 4.8;
    }
    align-items: center;
    display: flex;
    flex: 1;
    height: $grid-unit * 3.5;

    .screenshots-logo {
      @include respond-to("small") {
        background-position: 0 center;
        width: 100%;
      }
      @include respond-to("large") {
        height: $grid-unit * 1.5;
      }
      background-image: url("../img/landing-Screenshot-logo.svg");
      background-repeat: no-repeat;
      background-size: contain;
      height: $grid-unit * 1.2;
      position: relative;
      width: 318px;
    }
  }

  .alt-actions {
    align-items: center;
    display: flex;
    margin-inline-end: 0;
  }

  a.nav-button {
    &:focus {
      outline: 1px dotted $black;
    }
  }

  .nav-button {
    @include flex-container(column, center, center);

    img {
      width: 24px;
      height: 24px;
    }

    @include respond-to("large") {
      flex-basis: 96px;
      width: 96px;
      height: 96px;
      img {
        width: 28px;
        height: 28px;
      }
    }

    display: flex;
    flex-basis: 60px;
    height: 60px;
    width: 60px;
    border: none;

    &:hover {
      background-color: $light-hover;
      border-radius: 0;
    }
    &:active {
      background-color: $light-active;
      border-radius: 0;
    }

    &.icon-shots,
    &.icon-settings {
      @include respond-to("large") {
        flex-basis: 96px;
        height: 96px;
        width: 96px;
      }
      flex-basis: 70px;
      height: 70px;
      width: 70px;
    }

    &.inactive {
      opacity: 0.4;
      cursor: default;
    }

    span {
      margin-top: 30px;
      color: #2a2a2e;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 96px;
    }
  }

  .nav-link {
    @include respond-to("large") {
      height: 96px;
    }
    @include flex-container(column, center, center);
    color: $black;
    border-inline-end: 1px solid $light-border;
    height: 70px;
    
    &:hover {
      background-color: $light-hover;
    }
    &:active {
      background-color: $light-active;
    }
  }
}

.upsell {
  @include flex-container(row, center, center);
  
  @include respond-to("small") {
    font-size: 13px;
  }

  display: flex;
  font-size: 14px;
  color: $black;
  background: #efeff1;
  width: 100%;

  .message {
    padding-top: 16px;
    padding-inline-end: 5px;
    padding-bottom: 16px;
    padding-inline-start: 32px;
  }

  .logo {
    background-position: left center; 
    background-image: url("../img/firefox-logo.svg");
    background-repeat: no-repeat;
    background-size: 24px auto;
    margin-inline-start: 16px;

    [dir="rtl"] & {
      background-position: right center;
    }
  }

  p {
    display: inline;
  }

  .upsellLink {
    padding-inline-start: 10px;
    color: $medium-dark-blue;
  }

  .signInLink {
    color: $medium-dark-blue;
  }
}
