.alt-content {
  max-width: 520px;
  text-align: center;

  h1 {
    font-size: 26px;
    font-weight: normal;
    margin: 0;
  }

  p {
    margin-top: 0;
    line-height: 1.8em;
  }

  button {
    margin: 10px auto;
  }
}
