.signin-button,
.settings-button {
  cursor: pointer;
  text-decoration: none;
  position: absolute;
  right: 0;

  span {
    color: #4a4a4a;
  }
}

.shot-fxa-signin {
  a.signin-button,
  a.settings-button {
    position: relative;
    padding: 10px;
  }
}
