.inverse-color-scheme {
  background: $dark-default;
  color: $light-default;

  a {
    color: $link-light;
  }
}


.default-color-scheme {
  background: $light-default;
  color: $dark-default;

  a {
    color: $link-blue;
  }
}

.highlight-color-scheme {
  background: $link-blue;
  color: $white;

  a {
    color: $white;
    text-decoration: underline;
  }
}

.alt-color-scheme {
  background: $alt-dark;
  color: $light-default;

  h1 {
    color: $alt-dark-title;
  }

  a {
    color: $link-light;
    text-decoration: underline;
  }
}

.button {
  &.primary {
    background-color: $link-blue;
    color: $white;

    &:hover,
    &:focus {
      background-color: darken($link-blue, 7);
    }

    &:active {
      background-color: darken($link-blue, 12);
    }
  }

  &.secondary {
    background-color: $light-default;
    color: $dark-default;

    &:hover {
      background-color: $light-hover;
    }

    &:active {
      background-color: $light-active;
    }
  }

  &.transparent {
    background-color: transparent;
    color: $dark-default;

    &:hover,
    &:focus,
    &:active {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &.warning {
    color: $white;
    background: $warning;

    &:hover,
    &:focus {
      background: darken($warning, 7);
    }

    &:active {
      background: darken($warning, 12);
    }
  }
}

.subtitle-link {
  color: $link-blue;
}
