// FIXME: need to include these from a single location:
// (also some body styles, currently shared with styles.scss)

// UTILIY COLORS
$black: #000;
$white: #fff;
$gray: #737373;

// THEME COLORS
$dark-default: #38383d;
$light-border: #c7c7c7;
$light-border-active: #989898;
$light-hover: #ededf0;
$light-active: #dedede;
$light-default: #f9f9fa;
$link-blue: #0a84ff;
$active-blue: #45a1ff;
$link-light: #e1e1e6;
$link-medium: #858585;
$warning: #d92215;
$alt-dark: #38383d;
$alt-dark-title: #6f7fb6;
$medium-dark-blue: #009ec0;
$super-blue: #00d1e6;

// BASE GRID
$grid-unit: 20px;

// BORDER ROUNDING
$border-radius: 3px;

// ANIMATION CURVE
$bezier: cubic-bezier(0.07, 0.95, 0, 1);

$stroke-box-shadow: 0 0 0 1px rgba(12, 12, 13, 0.1);
$small-box-shadow: 0 1px 4px rgba(12, 12, 13, 0.1);
$medium-box-shadow: 0 2px 8px	rgba(12, 12, 13, 0.1);
$large-box-shadow: 0 4px 16px rgba(12, 12, 13, 0.1);
