// FIXME: need to include these from a single location:
// (also some body styles, currently shared with styles.scss)

// UTILIY COLORS
$black: #000;
$white: #fff;

// THEME COLORS
$dark-default: #3e3d40;
$light-border: #c7c7c7;
$light-border-active: #989898;
$light-hover: #ebebeb;
$light-active: #dedede;
$light-default: #f6f6f8;
$link-blue: #009ec0;
$active-blue: #00d1e6;
$link-light: #e1e1e6;
$link-medium: #858585;
$warning: #d92215;
$alt-dark: #31365a;
$alt-dark-title: #6f7fb6;

// BASE GRID
$grid-unit: 20px;

// BORDER ROUNDING
$border-radius: 1px;

// ANIMATION CURVE
$bezier: cubic-bezier(0.07, 0.95, 0, 1);
