/*
Common CSS for all panels
Panels should have a structure like:

<body>
  <div class="container">
  </div>
</body>

*/

html, body {
  margin: 0;
  height: 100%;
}

body {
  min-height: 100%;
  font-family: sans-serif;
  font-size: 110%;
}

button {
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 4px;
  white-space: nowrap;
}

button:hover {
  background-color: #eee;
}

a {
  text-decoration: none;
  color: #339;
}

a:visited {
  color: #339;
}

a:hover {
  text-decoration: underline;
}

input[type=text] {
  border: 1px solid #999;
  border-radius: 1px;
}

/*
  
  CSS specific to the pageshot panel

*/

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 5px;
}

img.snippet {
  width: 100%;
}

.row {
  width: 100%;
  border-bottom: 1px solid #999;
}

.comment-input {
  width: 100%;
  border: 1px solid #666;
  border-radius: 2px;
}

.text {
  border: 1px solid #999;
  border-radius: 4px;
  padding: 6px;
  box-shadow: 3px 3px 5px #666;
  font-size: 90%;
}

.ps-selected {
  background-color: #f83;
}

.link {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

