/*
Common CSS for all panels
Panels should have a structure like:

<body>
  <div class="container">
  </div>
</body>

*/

html, body {
  margin: 0;
  height: 100%;
}

body {
  min-height: 100%;
  font-family: sans-serif;
  font-size: 110%;
  box-sizing: border-box;
}

button {
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 4px;
  white-space: nowrap;
}

button:hover {
  background-color: #eee;
}

a {
  text-decoration: none;
  color: #339;
}

a:visited {
  color: #339;
}

a:hover {
  text-decoration: underline;
}

input[type=text] {
  border: 1px solid #999;
  border-radius: 1px;
}

/*
  
  CSS specific to the pageshot panel

*/

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}

.modes-row {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  right: 0.5em;
  text-align: center;
}

.mode {
  display: inline-block;
  width: 33%;
  border-bottom: 1px solid black;
  height: 2em;
  padding-top: 1em;
  text-align: center;
}

.mode-selected {
  border-bottom: 2px solid orange;
  background-color: #ababab;
}

.snippets-row {
  position: absolute;
  bottom: 2.5em;
  left: 0px;
  right: 0px;
  text-align: center;
}

.link-row {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 2em;
  border-top: 1px solid black;
}

.link {
  position: absolute;
  bottom: 0.275em;
  left: 0.5em;
  right: 5.5em;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.copy {
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  width: 6em;
}

img.snippet {
  position: absolute;
  top: 4.5em;
  left: 5%;
  width: 90%;
}

/* These elements are marked display: none because they are not currently
  included in the latest mockups, but they may be included in the future.
*/

.text {
  display: none;
  border: 1px solid #999;
  border-radius: 4px;
  padding: 6px;
  box-shadow: 3px 3px 5px #666;
  font-size: 90%;
}

.comment {
  display: none;
}

.comment-input {
  display: none;
  width: 100%;
  border: 1px solid #666;
  border-radius: 2px;
}

.ps-selected {
  background-color: #f83;
}


