/* Based on https://github.com/mozilla/testpilot/blob/master/addon/data/button.css */

#action-button--jid1-neeaf3sahdkhpajetpack-pageshot-shooter .toolbarbutton-icon {
  list-style-image: none !important;
  background-image: url('resource://jid1-neeaf3sahdkhpa-at-jetpack/data/icons/pageshot.svg') !important;
  background-size: 16px 16px !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

#action-button--jid1-neeaf3sahdkhpajetpack-pageshot-shooter[cui-areatype="menu-panel"] .toolbarbutton-icon {
  background-size: 32px 32px !important;
}

toolbarpaletteitem[place="palette"] > #action-button--jid1-neeaf3sahdkhpajetpack-pageshot-shooter .toolbarbutton-icon {
  background-size: 32px 32px !important;
}

toolbar[brighttext] #action-button--jid1-neeaf3sahdkhpajetpack-pageshot-shooter .toolbarbutton-icon {
  background-image: url('resource://jid1-neeaf3sahdkhpa-at-jetpack/data/icons/pageshot-inverted.svg') !important;
}
