
$primary-color: #404040;
$text-color: white;


html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  font-family: sans-serif;
  background-color: $primary-color;
  color: $text-color;
  box-sizing: border-box;
}

#container {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  text-align: center;
}

#frame {
  border: none;
  margin-top: 500px;
  margin-bottom: 4em;
}

#toolbar {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 2em;
  padding: 0.5em;
  overflow: truncate;
  color: $text-color;
  text-align: left;
  background-color: $primary-color;
}

.navigate-toolbar {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

.clip-count {
  position: relative;
  top: -0.25em;
  left: -0.5em;
}

.instructions {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

a, a:visited {
  text-decoration: none;
  color: $text-color;
}

a:hover {
  text-decoration: underline;
}

#info {
  position: absolute;
  top: 0.5em;
  left: 100px;
  right: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

a#collection-link {
  /* This specific element isn't clear as a link unless we underline */
  text-decoration: underline;
}

a.sitelink, a.sitelink:visited {
}

#comment-container {
  position: fixed;
  width: 500px;
  min-height: 12px;
  padding: 9px;
  top: 40px;
  right: 10px;
  /* Skipping borders for now
  border-bottom: 2px solid #E66000;
  border-right: 2px solid #E66000;
  border-left: 2px solid #E66000; */
  border-radius: 0 0 4px 4px;
  z-index: 100;
  background-color: #00539F;
  cursor: pointer;
}

#comment-editor {
  width: 100%;
  height: 35px;
}

#comment-instructions {
  cursor: pointer;
  font-size: xx-small;
}

#clip {
  cursor: pointer;
  position: relative;
  top: 2px;
}

.snippet-container div {
  margin-left: 3em;
  margin-right: 3em;
}

.snippet-container a img {
  max-width: 85%;
}

.clip-anchor-link {
  margin-bottom: 4em;
}

.selection {
  border-top: 1px solid #999;
}

.goto-selection {
  cursor: pointer;
  float: right;
}

.white-background {
  background-color: white;
  text-color: black;
  text-align: left;
}

.main-link {
}

.main-link img {
  height: 1em;
  position: relative;
  top: 2px;
  left: 2px;
}

#main-title {
  margin-top: 2.5em;
  color: $text-color;
}

.metadata {
  margin-bottom: 4em;
}
