<!DOCTYPE html>
<html>
  <head>
    {{if is_collection}}
    <title>Tag: #{{ collection_name }}</title>
    {{else}}
    <title>Page: {{title}}</title>
    {{endif}}
    <link rel="stylesheet" href="{{ base }}/css/collection.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ base }}/js/util.js"></script>
    <script src="{{ base }}/js/collection.js"></script>
  </head>
  <body {{if is_collection}}data-collection-name="{{ collection_name }}"{{endif}}>

    <div id="search-container">
      <div id="search-summary"></div>
      <input type="text" id="search" placeholder="search">
      <span id="search-clear">×</span>
    </div>

    <div id="clip">
      <img title="Copy shareable link to the clipboard"
           src="{{ base }}/clipboard-8-xl.png" style="height: 1em;">
    </div>

    {{if is_collection}}
    <h1>Tag: #{{ collection_name }}</h1>
    {{else}}
    <h1>Page: {{title}}</h1>
    {{endif}}

    <div id="items">
      {{for url, data, meta, images in items}}

      <div class="item" data-path="{{ url }}"
           data-images="{{ json.dumps(images) }}"
           data-readable="{{ normalize_text(data.get('readable') and data['readable'].get('content')) }}">

        <div class="comment-container {{if not meta.get('comment')}}comment-collapsed{{endif}}">
          <div class="comment"
               {{if not meta.get('comment')}}style="display: none"{{endif}}
               >{{ html(htmlize(meta.get('comment', ''))) }}</div>

          <div class="comment-editor-container" style="display: none">
            <textarea class="comment-editor"></textarea>
          </div>

          <span class="add-comment"
                {{if meta.get('comment')}}style="display: none"{{endif}}>+</span>
        </div>

        {{if data.get("history")}}
        <div class="history-container">
          <h3>History</h3>
          <ul>
            {{for link in data.get("history", [])}}
            <li>
              <span class="history-toggler">
                <span class="public badge" {{if not link.get('pub')}}style="display: none"{{endif}}>public</span>
                <span class="private badge" {{if link.get('pub')}}style="display: none"{{endif}}>private</span>
                <span class="remove-history">×</span>
              </span>
              <a class="link" href="{{link['url']}}" target="_blank">{{link['title']}}</a>
            </li>
            {{endfor}}
          </ul>
        </div>
        {{endif}}

        {{if is_collection}}
        <span class="closer">×</span>
        {{endif}}

        <div class="screenshot-container">
          <div class="image-selector">
            <span class="image-down">&lt;</span><span class="image-up">&gt;</span>
          </div>
          <a class="embedded" href="{{ url }}">
            <img class="item-shot" src="{{ images[meta.get('activeImage', 0)]['src'] }}">
          </a>
        </div>

        <h3 class="item-title"><a class="embedded" href="{{ url }}">{{ meta.get("userTitle") or (data.get("readable") and data["readable"].get("title")) or data.get("title") or data.get("location") }}</a></h3>

        {{if data.get("readable") and data["readable"].get("excerpt")}}
        <div class="excerpt">
          {{ data["readable"]["excerpt"] }}
        </div>
        {{endif}}

        <div class="title-link">
          <a class="direct-link" href="{{ data.get('location') }}">{{ domain(data.get('location', '')) }}</a>
        </div>

        {{if meta.get("snippet")}}
        <div class="snippet-container">
          <hr>
          <a class="embedded" href="{{ url }}">
            <img class="snippet" src="{{ meta['snippet'] }}">
          </a>
        </div>
        {{endif}}

      </div>

      {{endfor}}
    </div><!-- /#items -->
  </body>
</html>
