<!DOCTYPE html>
<html>
  <head>
    <title>Collection: {{ collection_name }}</title>
    <link rel="stylesheet" href="{{ base }}/css/collection.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ base }}/js/collection.js"></script>
  </head>
  <body>
    <h1>Collection: {{ collection_name }}</h1>

    <div id="items">
      {{for url, data, meta in items}}

      <div class="item">

        <div class="screenshot-container">
          <a class="embedded" href="{{ url }}"><img src="{{ data['screenshot'] }}"></a>
        </div>

        <h3 class="item-title"><a class="embedded" href="{{ url }}">{{ (data.get("readable") and data["readable"].get("title")) or data.get("title") or data.get("location") }}</a></h3>

        {{if data.get("readable") and data["readable"].get("excerpt")}}
        <div class="excerpt">
          {{ data["readable"]["excerpt"] }}
        </div>
        {{endif}}

        {{if meta.get("snippet")}}
        <div class="snippet-container">
          <hr>
          <a class="embedded" href="{{ url }}">
            <img class="snippet" src="{{ meta['snippet'] }}">
          </a>
        </div>
        {{endif}}

      </div>

      {{endfor}}
    </div><!-- /#items -->
  </body>
</html>
