<!DOCTYPE html>
<html>
  <head>
    <title>{{ data.get("title") or data.get("location") }}</title>
    <!--METAHEAD-->
    {{ meta.get("framehead") }}
    <!--ENDHEAD-->
    <link rel="stylesheet" href="{{ base }}/css/interface.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ base }}/js/util.js"></script>
    <script src="{{ base }}/js/frame.js"></script>
    {{if is_newpage}}
    <script src="{{ base }}/js/newframe.js"></script>
    {{endif}}
    <link rel="stylesheet" href="{{ base }}/css/frame.css">
    {{if data.get("favicon")}}
    <link rel="shortcut icon" href="{{ data['favicon'] }}">
    {{endif}}
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ data.get("title") or data.get("location") }}">
    <meta property="og:url" content="{{canonical_url}}">

    {{if meta.get('snippet')}}
    <meta property="og:image" id="meta-snippet" content="{{ snippet_src }}">
    <meta property="og:image:type" content="image/png">
    {{endif}}
    <!-- FIXME: must be a URL
    {{if data.get("screenshot")}}
    <meta property="og:image" content="{{ data['screenshot'] }}">
    {{endif}}
    -->
  </head>
  <body>
    <div id="container">
    <table style="height: 100%; width: 100%">
      <tr>
        <td id="toolbar">
          <div id="controls">
            <div class="instructions">
              <span id="comment-instructions">
                <span {{if comment}}style="display: none"{{endif}}
                      id="comment-instructions-no-comment">
                  Add comment
                </span>
                <span {{if not comment}}style="display: none"{{endif}}
                      id="comment-instructions-comment">
                  View comment
                </span>
                <span style="display: none"
                      id="comment-instructions-collapse">
                  Collapse
                </span>
                <span id="comment-expand-indicator">
                  ▼
                </span>
                <span id="comment-collapse-indicator" style="display: none">
                  ▲
                </span>
              </span>
              Shift+Click+Drag to highlight
            </div>
          </div><!-- /#controls -->
          <div id="info">
            <span id="clip"><img title="Copy shareable link to the clipboard"
                                 src="{{ base }}/clipboard-8-xl.png" style="height: 1em;"></span>
            <a class="sitelink" href="{{ data.get('location') }}">{{ link_text }}</a>
          </div>
          {{if is_newpage or data.get("readable")}}
          <div id="readable-toggler">
            <span id="readability-off" class="{{'inactive' if readable else 'active'}}">normal</span><span id="readability-on" class="{{'active' if readable else 'inactive'}}"> readable</span>
          </div>
          {{endif}}

          <div id="comment-container" style="display: none">
            <div id="comment">{{ html(comment) }}</div>
            <div style="display: none" id="comment-editor-container">
              <textarea id="comment-editor"></textarea>
            </div>
            <div id="selections"
                 {{if not meta.get('selections')}}style="display: none"{{endif}}>
              {{for sel in meta.get('selections', [])}}
              <div class="selection" data-info="{{json.dumps(sel)}}">
                <span class="goto-selection">&gt;</span>
                {{sel["text"]}}
              </div>
              {{endfor}}
            </div>

          </div><!-- /#comment-container -->
        </td>
      </tr>
      <tr>
        <td>
          <iframe id="frame" style="height: 100%; width: 100%" src="{{ iframe_readable_src if readable else iframe_src }}" data-normal-src="{{ iframe_src }}" data-readable-src="{{ iframe_readable_src }}"></iframe>
        </td>
      </tr>
    </table></div>
  </body>
</html>
