<!DOCTYPE html>
<html>
  <head>
    <title>{{ data.get("title") or data.get("location") }}</title>
    <!--METAHEAD-->
    {{ meta.get("framehead") }}
    <!--ENDHEAD-->
    <link rel="stylesheet" href="{{ base }}/css/interface.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{ base }}/js/interface.js"></script>
    <script src="{{ base }}/js/frame.js"></script>
    {{if is_newpage}}
    <script src="{{ base }}/js/newframe.js"></script>
    {{endif}}
    <link rel="stylesheet" href="{{ base }}/css/frame.css">
    {{if data.get("favicon")}}
    <link rel="shortcut icon" href="{{ data['favicon'] }}">
    {{endif}}
    {{if data.get("screenshot")}}
    <meta property="og:image" content="{{ data['screenshot'] }}">
    {{endif}}
    {{if meta.get('snippet')}}
    <meta property="og:image" id="meta-snippet" content="{{ meta['snippet'] }}">
    {{endif}}
  </head>
  <body>
    <div id="container">
    <table style="height: 100%; width: 100%">
      <tr>
        <td id="toolbar">
          <div id="controls">
            <div>
              <label id="add-to-label" for="add-to">Add to:
                <select id="add-to">
                  <option>select collection</option>
                  <option id="make-new-collection">new collection...</option>
                </select>
              </label>
              <label style="display: none" id="new-collection">
                Add to:
                <input type="text" id="new-collection-name" style="width: 100px">
              </label>
              <label style="display: none" id="part-of">
                Part of <a id="collection-link" href=""><a>
              </label>
            </div>
            <div class="instructions">
              Shift+Click+Drag to highlight
            </div>
          </div><!-- /#controls -->
          <a class="sitelink" href="{{ data.get('location') }}">{{ link_text }}</a>
          {{if is_newpage or data.get("readable")}}
          <div id="readable-toggler">
            <span id="readability-off" class="active">normal </span><span id="readability-on" class="inactive"> readable</span>
          </div>
          {{endif}}
        </td>
      </tr>
      <tr>
        <td>
          <iframe id="frame" style="height: 100%; width: 100%" src="{{ iframe_src }}" data-normal-src="{{ iframe_src }}" data-readable-src="{{ iframe_readable_src }}"></iframe>
        </td>
      </tr>
    </table></div>
  </body>
</html>
